[2019-03-12 00:58] hannesne opened #2 "Must have end-to-end functional tests"

[2019-03-18 22:19] ryancrawcour opened #3 "Must support multiple consumers of a single Kafka stream (via consumer groups)"

[2019-03-18 22:19] ryancrawcour opened #4 "Must have each consumer lock on a single partition"
It’s less around a function requirement and more around a Kafka limitation.
Because you may have 5 independent function instances running at the same time, Kafka only allows one reader per partition per consumer group at one time.

In Event Hubs we leverage an SDK called the “EventProcessorHost.” This automatically helps coordinate what partitions are locked by what instances. So if only 1 instanc

[2019-03-18 22:20] ryancrawcour opened #5 "Must have each consumer instance able to pull a *batch* of messages from the partition(s) they have locked"
- After pulling the batch, it can either pass in the entire batch of message (KafkaMessage[]), or a single message.  In Event Hubs this is a flag on the function.json called "cardinality"

- Batch should be the DEFAULT mode (from a template point of view).  WE know from Event Hubs this gives better perf and more expected checkpoint handling

[2019-03-18 22:20] ryancrawcour opened #6 "Must have an entire batch processed before the next batch can be pulled"
After an entire batch has been processed, the next batch can be pulled

[2019-03-18 22:21] ryancrawcour opened #7 "Must have ability to checkpoint and continue on execution completion, by default"
On success, or failure, of batch processing, we need to "checkpoint" and continue.
Follow the same behaviour as current Event Hubs trigger.

[2019-03-18 22:22] ryancrawcour opened #8 "Nice to have custom retry configuration for checkpointing"
Config option that would allow you to specify a retry of a batch.  So if the batch results in an exception, instead of checkpointing, retry the batch.

Set the number of retries.  At least 1 retry? At least 5 retries?  Unlimited retries?

[2019-03-18 22:22] ryancrawcour opened #9 "Should have native Java binding support"
Would need the Maven attributes to know how to use this

[2019-03-18 22:23] ryancrawcour opened #10 "Should have native Python binding support"
Would need a "rich binding type" on the worker

[2019-03-18 22:23] ryancrawcour opened #11 "Should have native .NET output binding support"
Must be able to write output to a Kafka topic using output bindings

- [x] Output binding
- [ ] Expose important configuration options for producers
- [ ] Add unit tests

[2019-03-18 22:31] ryancrawcour commented on #4
Does this mean that only one consumer can work on any partition?
Can I not have multiple consumers consuming the same message?

Or does it mean there's a 1-many relationship here where 1 consumer can only be on one partition, but the partition can have multiple consumers?

[2019-03-18 22:32] ryancrawcour commented on #5
@jeffhollan Any thoughts on size of batch for the default?

[2019-03-18 22:32] ryancrawcour commented on #5
@jeffhollan Assume this batch size would be configurable in the same way other triggers’ defaults are configurable?

[2019-03-18 22:33] ryancrawcour commented on #6
@jeffhollan So we hold a lock on the partition / stream, until a batch is complete, then release that lock?
What if the batch fails and things go pear shaped, how do we release that lock and let another instance start a new lock?

[2019-03-18 22:33] ryancrawcour commented on #8
@jeffhollan  So the default behavior would be to checkpoint as if the batch had completed even if there was a failure in the middle of the batch?

Is this because checkpointing after every message is expensive?

[2019-03-18 22:34] ryancrawcour commented on #8
@jeffhollan what happens if the batch fails even after the retries, do we have some concept of a dead-letter? worried about “losing data” here if we just discard the batch

[2019-03-18 22:36] ryancrawcour opened #12 "Must have registration for all OSS components used"
Our CI/CD process  ( #25 ) needs to include registrations for each OSS component we're using

We need to do two registrations for each component -
1) that we're using it internally
2) that we're distributing it

[2019-03-18 22:36] ryancrawcour commented on #12
To register our use of the OSS component we need to follow the guidance laid out here https://docs.opensource.microsoft.com/tools/cg.html

[2019-03-18 22:38] ryancrawcour opened #13 "Must have an alternative to auto-commit"
Need to have an alternative to auto-commit for a better commit strategy to optimise workload throughput

[2019-03-18 22:38] ryancrawcour opened #14 "Must have consumers gracefully shutting down"
Consumers must shutdown gracefully to ensure that data is not committed even though the process has stopped

[2019-03-18 22:48] jeffhollan commented on #8
May help to see how we do in event hubs today. Deadlettering isn’t really a feature of event streams by design. My thinking here is we’d at least have a basic retry policy (e.g. 5xs) and just make sure we pass in the retry count to the active execution. I think we’d have to leave up to user to decide what they want to do if they hit an exception on the 5th time. A bit hesitant to automatically “de

[2019-03-19 00:06] ryancrawcour commented on #5
ideally batch size would be configurable. The EventHub trigger defaults to whatever the event hub SDK default is, and allow users to override via host.json config

we should pick a batch size as our default, and allow overriding in the same way.

[2019-03-19 00:07] ryancrawcour commented on #4
It’s less around a function requirement and more around a Kafka limitation.

Because you may have 5 independent function instances running at the same time, Kafka only allows one reader per partition per consumer group at one time.

In Event Hubs we leverage an SDK called the “EventProcessorHost.”  This automatically helps coordinate what partitions are locked by what instances. So if only 1 insta

[2019-03-19 00:08] ryancrawcour commented on #6
We should wait for current batch on instance to FULLY complete before moving to the next. That’s the only way we can guarantee ordering which is often a big deal for these stream scenarios.

To the point of if a batch goes south and hangs, that’s a fair point. In the event hubs trigger I BELIEVE a function timeout will result in a checkpoint and continue. So in a non-consumption world that default

[2019-03-19 08:46] kennetham commented on #6
I foresee us doing a COMMIT OFFSET then acknowledge on consumer thread. There are concerns with race conditions especially around multiple partitions, so we might need to think of a good solution to solve it.

While it's important to point out that Kafka guarantees item ordering in the order it was written, not necessarily in the intended order. We can "guarantee" ordering by providing a key and t

[2019-03-19 08:52] kennetham commented on #8
Dead letter queue and circuit breaker pattern should be the 2 patterns we should look at to ensure we have a high scalability  stream processing, isn't it?

[2019-03-19 13:49] jeffhollan commented on #8
I don't think we'll pull off circuit breaker at the host level alone as it requires some coordination at the site level which the instance code wouldn't have.  As mentioned above I'm a bit hesistant to automatically deadletter, but potentially an optional setting where you can specify a deadletter Kafka stream in your config somewhere and it will deadletter to that for you?  But definitely not a m

[2019-03-19 22:17] ryancrawcour opened #16 "Must have all configuration and defaults conforming to Functions conventions"
All config values should be settable in host.json and override any defaults being used.
Follow the convention of other triggers.

[2019-03-19 22:21] ryancrawcour opened #17 "Nice to have deadlettering"
Include an optional setting where you can specify a deadletter Kafka stream in your config somewhere and it will deadletter to that for you after retries have been exceeded.

[2019-03-19 22:22] ryancrawcour commented on #8
Marked as P1 and changed title to "should have" to reflect lower urgency.
Opened new [issue ](https://github.com/Microsoft/azure-functions-kafka-extension/issues/17) as P2 for "nice to have" to deal with dead lettering

[2019-03-19 22:22] ryancrawcour commented on #8
Opened new [issue ](https://github.com/Microsoft/azure-functions-kafka-extension/issues/17) as P2 for "nice to have" to deal with dead lettering

[2019-03-19 22:26] ryancrawcour commented on #12
Need to register Confluent.Kafka

[2019-03-19 22:27] ryancrawcour commented on #12
Need to register Google.Protobuf

[2019-03-19 22:33] ryancrawcour commented on #6
@kennetham how does this compare with the current Event Hubs trigger? For P0 we're trying to replicate that behavior, where it makes sense, for Kafka. We can always come back and add additional capabilities etc. as future improvements.

@jeffhollan thoughts?

[2019-03-20 04:13] ryancrawcour opened #18 "Should have a DocumentIdAdder post processor in sink"
#15

Adds id field to documents if missing from source
Uses a Java UUID

Uses a configurable strategy to control how the id is generated.

Future strategies are possible by implementing IdStrategy interface

[2019-03-20 04:15] ryancrawcour opened #19 "Should have a DocumentIdAdder post processor in sink"
[First Post Processor](https://github.com/Microsoft/kafka-connect-cosmosdb/issues/15) implemented

Adds id field to documents if missing from source
Uses a Java UUID

[2019-03-20 06:58] ryancrawcour opened #20 "Must support connection to native Kafka"

[2019-03-20 06:59] ryancrawcour opened #21 "Nice to support connection to Azure EventHubs with Kafka head"

[2019-03-20 07:18] fbeltrao opened #22 "Must have Stylecop in project"
Use Stylecop so all team members follow the same coding rules. Start from what has been used in EventHubs extension

[2019-03-20 08:05] jeffhollan commented on #6
Most of what @kennetham is true for Event Hubs as well, the ordering guarantees being on the order received which is generally adequate especially when you have multiple partition keys that hash to the same partition.

I'm not sure about the COMMIT stuff. For Event Hubs only one consumer is allowed on a single partition at a time, so you don't really have to worry about race conditions.  I underst

[2019-03-20 08:08] fbeltrao commented on #21
@ryancrawcour so it means we keep the certificate and special consumer configuration for EventHubs we originally planned to remove?

[2019-03-20 08:13] fbeltrao commented on #7
Unlike EventHubs, Kafka provides checkpoint saving internally (saved as a compact topic). The idea is to use this but save it depending on how settings have been defined, right?

[2019-03-20 08:17] fbeltrao commented on #4
Can we use the rebalancing logic provided by Confluent library? We need to add more tests, but I have the feeling that this is built-in in the library. New consumers/lost consumers rebalance the partitions among active consumers.

[2019-03-20 08:23] jeffhollan commented on #7
I think this makes sense.  The timing of the checkpoint is a bit important though.  We want to have "at least once" delivery, so as long as the Kafka internal checkpointing allows us to "checkpoint" a batch after processing that should work great.

[2019-03-20 08:24] jeffhollan opened #23 "Must have ability to run without an Azure Storage account"
Many triggers today depend on an Azure Storage account for one reason or another.  This trigger should not, and should be runnable even if "AzureWebJobsStorage" is not defined.

More of a requirement than an issue but creating here as an FYI

/cc @ryancrawcour

[2019-03-20 09:01] fbeltrao commented on #7
Yes, we call `commit topic/partition/offset`. Current implementation does that after batch is consumed, but I need to add more customisation and retries.

[2019-03-20 20:34] #22 closed

[2019-03-20 20:36] ryancrawcour opened #25 "Must have CI/CD process"
Must have AzDO CI/CD pipelines to auto build, test, and publish component

[2019-03-20 20:38] ryancrawcour commented on #7
So it checkpoints as soon as batch is read from Kafka, before it is processed?

[2019-03-20 20:39] ryancrawcour commented on #7
@fbeltrao let's chat about what "more customisation" we need in this first milestone. We can always come back and make it more customisable in future.

[2019-03-20 20:41] fbeltrao commented on #7
My proposal:
- For triggers with batch (KafkaEventData[]) we commit after successfully triggering
- For single event triggers we commit every X times

[2019-03-20 20:41] ryancrawcour commented on #23
we're using "issues" to capture requirements. so all good. thanks @jeffhollan. I might go add labels to help distinguish between features, requirements, bugs, issues etc.

[2019-03-20 20:48] fbeltrao commented on #23
It seems we won't need storage for Kafka triggers since checkpoint are saved in a topic. However, when running a function without storage I get:

`Missing value for AzureWebJobsStorage in local.settings.json. This is required for all triggers other than HTTP. You can run 'func azure functionapp fetch-app-settings <functionAppName>' or specify a connection string in local.settings.json.`

I don't k

[2019-03-20 20:50] ryancrawcour commented on #4
Ok, will close this as completed once we have some tests that verify

[2019-03-20 20:52] ryancrawcour commented on #7
Batch sounds good

For single, I am not sure what you mean by every X times.
If I read 1 event from Kafka, process it do we not checkpoint then?
That means if another event later somewhere fails then this one we've already processed successfully will be replayed?

[2019-03-20 20:54] ryancrawcour commented on #23
That sounds like something that needs to be fixed in webjobs somewhere.

@jeffhollan & @anirudhgarg do we know where this is throwing, and what functions is trying to do with this value?

[2019-03-20 20:59] fbeltrao commented on #23
This is what I found:

|AzureWebJobsStorage setting|Result|
|-|-|
|"None"| seems to work without warnings|
|""|function does not run|
|**omitted**|function does not run|

So, is the requirement to be able to run having `"AzureWebJobsStorage": "None"`?

[2019-03-20 21:03] fbeltrao commented on #7
Correct. Now that I think about, maybe is better to do the way you described, saving after each message, giving the most accurate solution out of the box.

Performance is bad, but anything less than trivial should be using batch anyway.

[2019-03-20 21:14] ryancrawcour commented on #23
"Not defined" says to me omitted, as in not even in the file.
I'd also like "" to work

But I'd be content with setting to "None" if this is going to be too hard to change the underlying Functions/WebJobs behaviour.

@jeffhollan ?

[2019-03-20 22:05] jeffhollan commented on #7
And to clarify the behavior of Event Hubs is:

1. Retrieve in batch (regardless of if single message function or batch message function)
2a. If they have written their function to process individual messages
 - Do a `Task.WhenAll()` and parallel-y invoke a function for each message in the batch.  So if you got a batch of 30 messages, you would have 30 function invocations tasks kicked off and pote

[2019-03-20 22:07] jeffhollan commented on #23
I believe the error you see is a tooling one.  Meaning the local runtime is validating a storage account exists even though *technically* it may not be needed.  So we'll need to track an issue on azure/azure-functions-core-tools to remove this validation (ideally only when it's not really needed, but not sure how we could do that).

@ahmelsayed and @ankitkumarr as FYI

[2019-03-21 21:37] ryancrawcour opened #27 "Must have a custom scale controller"
Until this extension is supported by the Functions scale controller we will need logic to handle scale.

Something (a web app or a web job, running in the same App Svc?) will need to check the "queue length" in Kafka topic(s) configured and determine if the current number of Function instances are keeping up adequately.

If we're falling behind, we need to scale out.
If we're ahead, or have draine

[2019-03-21 21:39] jeffhollan commented on #27
This is being worked out in a related and private repo.  Will link to this issue from there.

[2019-03-21 21:42] ryancrawcour commented on #27
Does this mean we won't need a custom scaler if we plan on hosting this in Azure in an App Service (until Consumption is supported)?

[2019-03-21 21:49] jeffhollan commented on #27
Correct

[2019-03-21 22:01] ryancrawcour commented on #27
Awesome. Might just close this one then :)
Or, leave it open until we verify we can deploy this custom scaler in to an App Svc environment.

[2019-03-21 22:02] fbeltrao commented on #27
Do we need to expose statistics or additional information to the scaler or is it going directly to the source?

[2019-03-21 22:25] jeffhollan commented on #27
The App Svc environment won't have a custom scaler - it will rely on auto-scaling which scales based on CPU and memory.  So the short term solution (sans that private repo thing I linked above) is rely on CPU metrics to drive scaling.

Allowing you to use a customer scaler in something like App Service or even consumption is on the backlog of Functions, but in a way that it's hard to know what an

[2019-03-21 22:29] ryancrawcour commented on #27
Not sure I understand how CPU metrics will help figure out that our Function is falling behind.

[2019-03-21 22:31] jeffhollan commented on #27
Also I'm sorry I thought this comment was in this repo but I added to the other:

Also it's expected for the short term in the Azure service this trigger will only work on the App Service Plan with autoscaling. Getting kafka scaling logic in the Azure Functions multi-tenant scale controller is still being evaluated based on customer need. Since Kafka is generally not exposed publicly it's still to

[2019-03-21 22:41] ryancrawcour commented on #27
Hmmmm, This is why I was thinking that we'd need something that would check the queue length and scale our App Svc accordingly.

I know @anirudhgarg and I discussed this briefly when we met.

Even if I scale the App Svc (that hosts my Functions) manually how will this know to go spin up additional instances of the Function? Something needs to tell it to go spin up new instances, or tear down insta

[2019-03-21 22:45] jeffhollan commented on #27
You aren't wrong - but there's no feature or existing way to do this today.  So there's nothing we can build that could check the queue length and then use that detail to drive scaling decisions of an app service plan.

[2019-03-24 21:23] fbeltrao commented on #17
Another topic for discussion is whether or not we should retry calling the function if it failed. A retry logic and then finally moving to a deadlettering.
@ryancrawcour

[2019-03-24 21:55] ryancrawcour commented on #2
Must be callable from CI/CD pipelines addressed in #25

[2019-03-24 23:49] fbeltrao commented on #25
How far should the CI at this stage go? Should we create nuget packages? If yes, we need guidelines from team in how to version, build and deploy them.

[2019-03-25 20:45] ryancrawcour commented on #25
Is there value in publishing this component on NuGet? If they pull it down, can they just start using it in their own Functions provided they're not using Consumption but App Svc?

@jeffhollan & @anirudhgarg should we publish this on NuGet? or do we just leave it in the repo and people that want it can pull it down, build it, and then deploy and configure on their environment.

[2019-03-25 21:35] #20 closed

[2019-03-25 21:43] #5 closed

[2019-03-25 21:44] ryancrawcour commented on #13
not using auto-commit, committing manually.

[2019-03-25 21:44] #13 closed

[2019-03-25 21:44] #14 closed

[2019-03-25 21:45] ryancrawcour commented on #16
@jeffhollan can you give a quick review of the config exposed, as we're not exposing ALL kafka config and also the defaults we've chosen.

[2019-03-25 21:46] #3 closed

[2019-03-25 21:46] ryancrawcour commented on #4
Provided by the confluent library.

[2019-03-25 21:46] #4 closed

[2019-03-25 21:47] #6 closed

[2019-03-25 21:47] ryancrawcour commented on #7
Implemented as above

[2019-03-25 21:47] #7 closed

[2019-03-25 21:53] ryancrawcour commented on #21
@jeffhollan is there value in implementing this? There is already a native EventHubs trigger, so if the data is in EventHubs would you not just use that trigger, rather than this Kafka one?

[2019-03-25 22:41] jeffhollan commented on #25
Yes ideally this should go on NuGet as `Microsoft.Azure.WebJobs.Extensions.Kafka` With a pre-release flag.  @paulbatum and @fabiocav are the right people to set you up with the right process

[2019-03-25 22:42] jeffhollan commented on #16
Do you have an example of some of the `KafkaOptions` or similar? In general we try to model the host.json options off of the options exposed, and maybe only allow sub-set to be settable.  Here's the event hubs options as a starter:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#host-json

[2019-03-25 22:44] jeffhollan commented on #21
I think it would be nice to have.  It gives us the option to say you can "grow up" or rather "grow between" Event Hubs / fully-managed Kafka and roll-your-own Kafka without any code changes.  But I'm not sure what the tradeoff would be if we do support this.

[2019-03-25 22:45] jeffhollan opened #30 "Should move repo to azure/azure-functions-kafka-extension"
Not urgent but just tracking, we have the code for all other extensions under the "azure" org instead of the "microsoft" org.  Would be good to move this over the "azure" sometime.

[2019-03-25 23:01] jeffhollan commented on #25
I would hold off on doing the NuGet stuff yet.  It will largely depend on when and how it is managed long term (e.g. when bug fixes need to go in, how they get pushed out).  For now it may be ad-hoc publishing, automated to our NuGet through our build pipeline, etc.  Worth having a conversation first about that before we go too far down this path

[2019-03-25 23:27] ryancrawcour commented on #25
happy to have that convo. for now we can have ad-hoc publish to NuGet

[2019-03-25 23:30] ryancrawcour commented on #16
Here's the KafkaOptions are they are today - https://github.com/Microsoft/azure-functions-kafka-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.Kafka/KafkaOptions.cs

[2019-03-25 23:33] ryancrawcour commented on #16
ReconnectBackoffMs
ReconnectBackoffMaxMs
StatisticsIntervalMs
SessionTimeoutMs
MaxPollIntervalMs
QueuedMinMessages
QueuedMaxMessagesKbytes
MaxPartitionFetchBytes
FetchMaxBytes
MaxBatchSize
SubscriberIntervalInSeconds
ExecutorChannelCapacity
ChannelFullRetryIntervalInMs

[2019-03-25 23:33] ryancrawcour commented on #16
@fbeltrao are all these used by the code? also, I see from the comments that these each have defaults, are these defaults coming from the confluent driver, or have we set them ourselves somewhere?

[2019-03-25 23:35] ryancrawcour commented on #21
Ok, we can leave this on the P1 milestone pending further thought / discussion on this.

[2019-03-26 04:11] jeffhollan commented on #16
Would be interested to know which of these users may want control on but my initial thinking was all the Ms or Seconds options we just manage and expose all the bytes and size options. But not against just surfacing all of these as overrides in host.json with intelligent defaults

[2019-03-26 07:05] fbeltrao commented on #16
The following are exposed by Confluent:

ReconnectBackoffMs
ReconnectBackoffMaxMs
StatisticsIntervalMs
SessionTimeoutMs
MaxPollIntervalMs
QueuedMinMessages
QueuedMaxMessagesKbytes
MaxPartitionFetchBytes
FetchMaxBytes

I use their defaults, which you can see here (https://github.com/confluentinc/confluent-kafka-dotnet/blob/v1.0-beta3/src/Confluent.Kafka/Config_gen.cs)

Those are ours:
MaxBatchSize:

[2019-03-26 07:09] fbeltrao commented on #21
For the moment the connection part works. What I need to verify is the manual checkpoint commit. I am not sure EventHubs will save the checkpoint as Kafka does.

If that is not the case we will need state (storage), which does against one of the requirements **must function without Storage Account**.

[2019-03-26 14:12] jeffhollan commented on #21
That’s a good point. And I would be ok if a storage account was only required for Event Hubs powered Kafka as people won’t mind needing an azure storage account to trigger on an azure service, but that said I could see that requires your checkpointing logic to fork depending on if it’s event hubs or not which feels strange and I’d almost rather people just switch trigger types than we have to try

[2019-03-26 14:14] fbeltrao commented on #21
My suggestion is to move this item to lowest priority. It address a problem already solved and makes the Kafka code complexer.

[2019-03-27 02:29] ryancrawcour commented on #21
Moved to milestone P2, changed title to reflect "Nice to have"

[2019-03-27 02:31] ryancrawcour commented on #16
So should we "hide" the Confluent ones and only expose ours?
Or just expose (and document) them all?

[2019-03-27 10:11] fbeltrao commented on #16
I'd like to give freedom to those that know what they are doing. On the other hand, a miss configuration can make the service unusable, and the responsibility lies on us when hosting in Azure. An option would be to give more freedom when hosting the function outside Azure or in Service Plan, while remaining restrictive in a consumption plan (once/if we get there).

For instance:
FetchMaxBytes, Max

[2019-03-27 17:26] jeffhollan commented on #16
I'm fine to expose all for now and just make sure we document behavior and defaults.  We may regret it and change that in the future, but I'm ok providing the flexibility to those who may be able to take advantage of it for now

[2019-03-27 19:29] ryancrawcour commented on #16
Ok. Will close this issue as complete then. Let's make sure we document the defaults and behaviour of each config setting.

[2019-03-27 19:29] #16 closed

[2019-03-27 19:30] ryancrawcour opened #31 "Must have documentation"
Must document usage of trigger
Also document all the config options avail in host.json
Must have working end to end sample

[2019-03-27 19:31] ryancrawcour commented on #30
My thinking was that once this became an "official" Azure supported extension available in Consumption plan then it would go live there. Thoughts? Happy either way.

[2019-03-28 05:23] jeffhollan commented on #30
I'm ok with that - the only potential issue is that people who are looking to file an issue / contribute may be used to the azure/azure-functions-x-extension pattern and won't find this repo right away, but it's not a huge deal to me either way

[2019-03-28 05:29] ryancrawcour commented on #30
if azure/azure-functions-x-extension is the pattern, then the CosmosDB extensions are in the wrong place b/c there is no azure/azure-functions-cosmosdb-extension … that's under Azure/azure-webjobs-sdk-extensions/tree/dev/src/WebJobs.Extensions.CosmosDB

[2019-03-28 07:38] jeffhollan commented on #30
Correct - we have a work item to break out Event Hubs, Service Bus, CosmosDB, etc. to seperate repos to follow pattern. More historic with them as they were built as WebJobs extensions and not Azure Functions extensions. https://github.com/Azure/azure-webjobs-sdk/issues/2011

[2019-03-28 07:47] fbeltrao opened #33 "Must use Confluent.Kafka version 1.0.0-RC2"
Their documentation has been updated the last few days indicating we should be using version 1.0.0-RC2.

[2019-03-28 21:48] #33 closed

[2019-03-29 19:34] fbeltrao opened #35 "Should support external Avro Schema Registry"
Should support external Avro schema registry. Currently only fix Avro schemas are supported.

[2019-03-30 08:24] fbeltrao opened #36 "Should review serialisation"
Currently we support built-in serialisation for avro and protobuf.
Avro relies on Confluent.Kafka. Protobuf relies on google.protobuf.

Having serialisation built-in has the following advantages:
- Performance when using a language worker, removing the need to serialising byte[] to language worker and do the serialisation there
- Simplicity: user doesn't have to come up with much code to get it go

[2019-04-01 20:40] fbeltrao opened #41 "Nice to have: create topics if it does not exist"
It would be nice to create topic on the fly if it does not exist.
That would require topic information such as name, partition count, replication factor, etc.

When defining the attribute there should be a specific parameter indicating if creating is allowed.

[2019-04-01 23:30] ryancrawcour commented on #2
Xunit as testing framework

[2019-04-02 02:45] kennetham opened #42 "Should have native Javascript/Typescript binding support"

[2019-04-02 03:20] jeffhollan commented on #42
Is the work here to create Typescript types for the Kafka event?

[2019-04-02 06:51] kennetham commented on #42
Yes - I suggest to have Javascript / Typescript binding support for next implementation.

[2019-04-02 17:08] TsuyoshiUshio commented on #12
Hi @ryancrawcour  Which task does do I have? You seems done injecting compliance task and register these tasks.

[2019-04-02 17:54] brandonh-msft opened #43 "KafkaEventData doesn't do anything in byte[] constructor"
See https://github.com/Microsoft/azure-functions-kafka-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.Kafka/KafkaEventData.cs#L22

This constructor gets used by the trigger in places, but effectively does nothing. Needs to be implemented or removed.

cc @fbeltrao

[2019-04-02 18:00] brandonh-msft commented on #11
To help in somebody picking this up, can we define "important" in this issue?

[2019-04-02 18:08] fbeltrao commented on #11
My suggestions would be for you to take a look at the librdkafka and Confluent.Kafka configuration docs and propose what settings should be exposed in the function.

I would start with settings that affect performance and throughput. Settings about max message size could be important too, in case we need to support topics with large messages.

At the end we should add the newly exposed options in

[2019-04-02 18:13] brandonh-msft commented on #11
perfect, thanks

[2019-04-02 18:23] TsuyoshiUshio commented on #12
I read through the document. Maybe missing point is NOTICE and Legal review part. I'm not sure if it is required or not. I'm asking people about it.  Do you know it?

[2019-04-02 19:23] fbeltrao opened #44 "Must be able to bind to different types in trigger functions"
The trigger implementation has been tested using KafkaEventData and string as parameter types.
We must implement the following scenarios:

**POCO (importance: high)**
- [x] If the POCO class implements ISpecificRecord. Avro deserialiser should be set when creating the KafkaListener
- [x] If the POCO class implements IMessage (Google.Protobuf contract). The protobuf deserialiser should be set when

[2019-04-02 19:24] fbeltrao commented on #44
@brandonh-msft and @ryancrawcour please submit your feedback about this item. Once we agreed, Brandon can start.

[2019-04-02 19:43] brandonh-msft commented on #44
`byte[]` deserialization is non-trivial. need to define this. What is in the byte array? Is it just JSON-serialized data for an object? what object should it create upon processing?

[2019-04-02 19:45] ryancrawcour commented on #11
@brandonh-msft is this* something you're going to tackle?

* _take a look at the librdkafka and Confluent.Kafka configuration docs and propose what settings should be exposed in the function.
At the end we should add the newly exposed options in our documentation section._

[2019-04-02 19:47] ryancrawcour commented on #12
I think Legal review is required. Check with CELA. I tagged you on a post in Teams with CELA where I brought this up.

[2019-04-02 19:47] brandonh-msft commented on #44
if i'm understanding the `byte[]` part... this means if they use byte array, we want the function developer to implement the creating of `KafkaEventData` objects?

[2019-04-02 19:49] ryancrawcour commented on #44
Looks good to me.

[2019-04-02 19:50] ryancrawcour commented on #44
this is my understanding too.
@fbeltrao, was this your intention?

[2019-04-02 19:55] fbeltrao commented on #44
Kafka stores the messages as byte[]. The intention is to get the raw data coming from the topic and do all the required deserialisation on the function.

The following code does that:
[code]

The idea would be to be able to replace the parameter definition the following way:
[code]

Does it make sense?

[2019-04-02 19:59] fbeltrao commented on #44
It is ok for me if you don't think there is value here. The more I think about it the more I have the impression that this issue a nice to have, as there is a way to get things working using KafkaEventData.

This issue is about making it developer friendly.

[2019-04-02 20:01] brandonh-msft commented on #44
well, the above codes does and doesn't do that. if you look at #43 we never implemented what we actually _do_ with the byte[] array. So you don't _actually_ get any event data out of the bytestream.

[2019-04-02 20:09] fbeltrao commented on #44
I agree, that constructor shouldn't be there.

The way the KafkaEventData will be built in case the ValueType = typeof(byte[]) is the following:
[code]

https://github.com/Microsoft/azure-functions-kafka-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.Kafka/Listeners/KafkaListener.cs#L285

https://github.com/Microsoft/azure-functions-kafka-extension/blob/master/src/Microsoft.Azure.Web

[2019-04-02 20:18] fbeltrao commented on #44
I will check if I can remove that ctor.

[2019-04-02 20:26] TsuyoshiUshio commented on #12
Sure. I'm asking to them. Great. I didn't know the Teams. :)

[2019-04-02 20:36] brandonh-msft commented on #11
you can put this on my backlog but i'm tackling #44 first

[2019-04-02 20:53] fbeltrao opened #46 "Must have testing documentation"
Add documentation about testing giving instructions to people on how to run End to end tests locally.
Ideally create required topics from code to simplify E2E setup.

[2019-04-02 21:04] ryancrawcour commented on #11
Ok, assigned to you

[2019-04-02 23:18] TsuyoshiUshio opened #48 "Source Link support might be helpful for debugging."
This is not high priority however, source link might help customer to debug this trigger.
https://github.com/dotnet/sourcelink

[2019-04-02 23:41] brandonh-msft commented on #44
would so `IConsumeResultData.Value` is **always** `byte[]`?

[2019-04-03 02:40] TsuyoshiUshio commented on #25
According to the conversation with the product team. We resume the conversation next week.

[2019-04-03 03:55] ryancrawcour commented on #25
Agreed. Manual publish to NuGet, for now, until the final resting home for this is found. For now, let's just ensure that our CI/CD does the following -

CI - registers all OSS components correctly & runs all **unit tests** (yes, we need better unit tests, but we'll work on that as a separate issue)

CD - runs full end to end functional tests

[2019-04-03 07:21] fbeltrao commented on #44
No, it will be of the type in which the KafkaListener<TKey, TValue> was created

[2019-04-03 14:46] brandonh-msft commented on #44
got it. so you were just saying that the only case where `KafkaEventData.Value` will end up as `byte[]` is the case where it gets set as part of the `ConsumeResultWrapper`. 👍

[2019-04-03 14:47] brandonh-msft commented on #44
Does this mean that ✅ 3 in this issue is moot, then?

[2019-04-03 14:48] fbeltrao commented on #44
Correct. It should be simple.
What could be a bit tricky is to will handle byte[] as a single consumer and byte[][] as a batch consumer.

[2019-04-03 18:34] brandonh-msft commented on #11
K so right now, looking at [Global configuration properties in librdkafka docs](https://docs.confluent.io/2.0.0/clients/librdkafka/CONFIGURATION_8md.html) I'm thinking:

property | proposed name | description
--- | --- | ---
message.max.bytes | MaxMessageBytes | Maximum transmit message size.
enable.auto.commit | AutoCommit | Automatically and periodically commit offsets in the background.
auto.co

[2019-04-03 18:53] fbeltrao commented on #11
Are those consumer or producer related settings? It is unclear to me.
Regarding commit configuration: we are doing manual commits, therefore enable.auto.commit and auto.commit.interval.ms will not be used/exposed.

[2019-04-03 19:08] brandonh-msft commented on #11
yeah TBH i'm not sure either; i agree it's not super clear in the docs whether it's producer related or not. I just kinda guessed.

So now considering just:

property | proposed name | description
--- | --- | ---
message.max.bytes | MaxMessageBytes | Maximum transmit message size.
batch.num.messages | BatchSize | Maximum number of messages batched in one MessageSet.

[2019-04-03 19:37] #46 closed

[2019-04-03 19:37] #43 closed

[2019-04-03 19:42] ryancrawcour commented on #44
Remember folks … mvp first, then we add on the "developer friendly" and nice to haves once developers start using it and requesting it. Hopefully by then we'll have a community of open source developers that will submit their own PRs :)

[2019-04-03 19:49] ryancrawcour commented on #11
Ok. let's start with these. and when people request others or want extra features that are unblocked by exposing others, then we can go add them.

[2019-04-03 19:50] fbeltrao commented on #11
Not sure if we should expose:
enable.idempotence

source: https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md

[2019-04-03 19:50] ryancrawcour commented on #11
Can someone please update the docs and send a PR for bullet point 2 then. sounds like it's done.

[2019-04-03 22:37] TsuyoshiUshio opened #53 "CI occassionally has error : Could not find a part of the path '/tmp/NuGetScratch on build"
This issue happens one time.  Looks known issue.

https://github.com/NuGet/Home/issues/7341

[2019-04-04 16:08] brandonh-msft commented on #2
I'd offer this item is complete w/ the suite we've got in place today. Closing.

[2019-04-04 16:08] #2 closed

[2019-04-04 16:16] brandonh-msft commented on #11
After some more digging found these are all the knobs even _possible_ to set - do we just expose them all?
![image](https://user-images.githubusercontent.com/20270743/55571449-629ef080-56ba-11e9-9daf-dc9912fedda3.png)

[2019-04-04 16:27] fbeltrao commented on #11
We already have so many, adding just for the sake of having all might in turn cause the configuration to be over complicated.

[2019-04-04 16:46] brandonh-msft commented on #11
fair enough - it doesn't look like, though, i can tweak the pieces I called out earlier after looking at what the .Net SDK exposes in `ProducerConfig` - which of the above do you think we'd want to expose, then? Perhaps just the `EnableIdempotence`? I can see value in the Timeouts, `BatchNumMessages`, and `MessageSendMaxRetries`, though.

[2019-04-04 16:49] fbeltrao commented on #11
I like your proposal. For Idempotence we need to check how we handle errors in our producer

[2019-04-04 21:22] ryancrawcour commented on #2
Does our e2e suite test all paths (or major use cases) thoroughly? What is our code coverage?

[2019-04-04 21:24] ryancrawcour commented on #11
Yeah, go for the simplest config that enables the majority of scenarios. We can start exposing more config options as developers using this start requesting additional features. Too many knobs and dials get confusing

[2019-04-04 21:58] brandonh-msft commented on #2
@TsuyoshiUshio any way you can spit out code coverage details from our runs?

[2019-04-04 23:21] ryancrawcour commented on #9
This is how the SignalR team added Java binding support - https://github.com/Azure/azure-functions-signalrservice-extension/pull/48

We should follow this for adding Java support

[2019-04-04 23:22] ryancrawcour commented on #10
This is how the PG suggested we do Python supported. We should leverage the work the other extensions have done in this space.

https://github.com/Azure/azure-functions-python-worker/tree/dev/azure/functions_worker/bindings

[2019-04-05 07:02] fbeltrao commented on #2
Would be awesome to have Sonarqube or other coverage tool in our CI.

Currently e2e tests validate:
- Messages are not being dropped (some cases they are processed more than once)
- Multiple hosts are sharing partition consumption
- Producer is not dropping any message
- Common binding scenarios are working end to end

[2019-04-05 07:58] fbeltrao opened #62 "Must be prepared to Kafka.Confluent release 1.0 by closing the gap, updating to RC3"
As Kafka.Confluent is approaching release 1.0 we should keep a close gap on releases they supply.

We should update our references and validate the functionality and contracts used.

[2019-04-05 08:36] kennetham commented on #10
We need to also update our `_kafka.py` in this Python Library. Creating a skeleton to test with our Attributes. This is the same for #9  #42 .
https://github.com/Azure/azure-functions-python-library

[2019-04-05 21:37] jeffhollan commented on #23
CLI fix just got merged in.  Not released yet, but having no `AzureWebJobsStorage` setting should run without issue now if using the Kafka extension.

[2019-04-06 07:52] fbeltrao opened #63 "Should support message headers"
Add support to message header properties in Kafka events.

**Trigger**
- [ ] Add headers to KafkaEventData
- [ ] Expose properties in KafkaEventData and binding properties

**Output**
- [ ] Enable creation of Kafka messages with headers

[2019-04-06 08:26] fbeltrao opened #65 "Should not publish nuget package for PR validation builds"
We shouldn't be publishing nuget packages for PR validation builds. They should be built once the master (or dev) is updated.

[2019-04-08 16:53] TsuyoshiUshio commented on #65
Hi @fbeltrao Sure. I'd happy to do that.
Currently, I try to solve a tough problem of the Kafka. Hopefully it is going to finish in a couple of days, then I'll do this.

[2019-04-08 21:11] #62 closed

[2019-04-08 21:15] ryancrawcour commented on #44
What's the status of this issue? Closed, or still being worked on?

@brandonh-msft & @fbeltrao

[2019-04-08 21:15] ryancrawcour commented on #12
@TsuyoshiUshio what's the status of this? Complete, or still in progress?

[2019-04-08 21:20] ryancrawcour commented on #23
Thanks @jeffhollan do you know when it will be released? Can i close this issue?

[2019-04-08 21:25] ryancrawcour commented on #65
Agreed. We should only build (and eventually publish) NuGet in CD

[2019-04-08 21:27] ryancrawcour commented on #11
@brandonh-msft  What's the status of this? In progress? Or complete?

[2019-04-09 17:35] TsuyoshiUshio commented on #12
in progress. In case current e-mail doesn't work I'll see them directly. :)

[2019-04-10 05:13] #44 closed

[2019-04-10 05:14] #11 closed

[2019-04-10 05:14] #23 closed

[2019-04-10 05:16] ryancrawcour commented on #65
Closing the issues as "wont fix" because we're transferring this to the PG and will become part of their regular build & release cycles

[2019-04-10 05:16] #65 closed

[2019-04-10 05:17] ryancrawcour commented on #30
Have started the process to move this. Will close once repo has been moved.

[2019-04-10 17:07] anirudhgarg commented on #10
Wanted to add my two cents: that using Python for this scenario is in my mind the most important scenario. So this is really important.

[2019-04-10 20:55] TsuyoshiUshio opened #66 "Must build a signed assembly ready for publishing to NuGet"
We need two things to publish nuget package.

1. Sign assembly as strong name
2. Add information for the csproj file

We can reference azure-functions-eventgrid-extension as an example.

[2019-04-10 21:31] agowdamsft opened #67 "Should have TLS client certificates auth"
Cert based auth is very typical with Kafka especailly when you have func running on a container or on Azure where Kafka clusters are running on VM/Confulent Cloud. Having this support could be important to target production workloads.

[2019-04-10 21:47] ryancrawcour commented on #30
And we're done.

[2019-04-10 21:47] #30 closed

[2019-04-10 21:48] ryancrawcour commented on #12
So we're just waiting on the NOTICE file to be completed?

[2019-04-10 22:16] jeffhollan commented on #30
![image](https://user-images.githubusercontent.com/7132626/55917271-a6ef2c80-5ba3-11e9-9c6e-2b2d082814e0.png)

[2019-04-10 22:17] jeffhollan commented on #30
![amazing](https://media.giphy.com/media/RLkcGcTtWc7QyQZqSM/giphy.gif)

[2019-04-10 23:18] TsuyoshiUshio commented on #25
Hi @ryancrawcour When I have a look, the CI pipeline already include the e2e testing and it works.
I do nothing. Maybe already @fbeltrao done a very good job! :)  Anything else am I missing?

Anything else do we need? Maybe next step is the publishing manually and create a pipeline on the product team's Azure DevOps.

![image](https://user-images.githubusercontent.com/1390976/55919816-33055200-5ba

[2019-04-10 23:21] ryancrawcour commented on #25
Ok. Closing it out and we will revisit the CD requirements when we integrate in to the PG processes.

[2019-04-10 23:21] #25 closed

[2019-04-10 23:49] #66 closed

[2019-04-10 23:49] #31 closed

[2019-04-11 10:58] fbeltrao commented on #67
Where would such certificates be stored?
- Key Vault when running on service plan?
- Secrets when running in K8s?

[2019-04-11 21:34] fbeltrao opened #70 "Replace producer usage of BeginProduce with ProduceAsync"
BeginProduce requires the usage of Flush that blocks the thread.
To avoid the blocking we must replace with ProduceAsync

[2019-04-11 21:38] fbeltrao opened #71 "Investigate usage of DependentProducerBuilder for the output binding"
Today we create a single producer per brokerList, keyType and valueType. Meaning that multiple topics with same message type will share the same producer.

We should investigate using the DependentProducerBuilder since librdkafka does not know about serialisers.

[2019-04-11 21:43] fbeltrao opened #72 "Verify checkpoint saving strategy"
Checkpoint saving current is done using Consumer.Commit which blocks the thread. An alternative is to use StoreOffset that will save the checkpoint asynchronously in librdkafka.

Commit is more accurate while StoreOffset offers a better throughput.

Would love your feedback @jeffhollan, @anirudhgarg and @ryancrawcour

[2019-04-11 22:13] jeffhollan commented on #72
I imagine the risk of `StoreOffset` is that if something happens on the async thread and the commit doesn't checkpoint you may end up in a world where you replay a few batches of messages you *thought* were being checkpoint but the checkpoint was never active?  In general we are pretty clear you need to be at-least-once expected, so I think I'm ok with the `StoreOffset` given the better throughput

[2019-04-12 00:59] ryancrawcour commented on #72
that's my feeling too

[2019-04-12 01:00] ryancrawcour commented on #72
that's not a bad idea. how complex would this make the code @fbeltrao ?

[2019-04-12 04:29] agowdamsft commented on #67
KV would be very Azure based appraoch I would like to have that as an option. but any thoughts to have secrets as part of application seetings (SaslUsername & Password) with Client Cert as part of the App as file ? (not sure if we can leverage ssl cert store as this could be only applicable for app service plan- i am guessing)  (. More ref here https://github.com/confluentinc/confluent-kafka-dotne

[2019-04-12 11:03] fbeltrao commented on #72
The code to support both is not complex. Ti am questioning the value.

What Jeff says is right, consumers should be implemented to process messages at least once anyway.

I can run a few tests to see if the messages processing repetition is noticeable in our e2e tests if we optimize for throughput.

[2019-04-12 16:07] ryancrawcour commented on #72
I'd say let's pick one. Then if customers ask for the other one, or complain about the one we picked, we can then always come back and revisit this.

I am happy with "you're expected to ensure your consumer is idempotent b/c at-least-once semantics".

[2019-04-12 20:22] #72 closed

[2019-04-12 21:43] TsuyoshiUshio commented on #12
Hi @ryancrawcour I send you an instruction for you. Ellen replies it. Could you follow the instruction? All blocker has gone now. :)

[2019-04-12 21:45] TsuyoshiUshio commented on #12
If you don't have time, I'll do it. Please let me know. (Although, I don't know if I have a permission)

[2019-04-12 22:09] fbeltrao commented on #12
@TsuyoshiUshio can you please check the new Build Azure.xxxx?
The old one is not connected to the new repository, I had to create a new one. Just want to double check that the OSS registration is done properly there too

[2019-04-12 22:20] ryancrawcour opened #75 "Should use Confluent.Kafka version 1.0.0"

[2019-04-12 22:26] TsuyoshiUshio opened #76 "Decide if we have a strong named sign"
Ideally, our nuget package should have strong named sign. However, We use several libraries which is not have strong named sign.

I send request confluent and directly talk with them. They said they can do it.
https://github.com/confluentinc/confluent-kafka-dotnet/issues/879

I'm planning that we can publish the first version without strong named sign, however, if they quickly introduce the strong

[2019-04-12 22:27] ryancrawcour commented on #12
Are we using the new one, or the old one? If the old one is old, please remove it.
I will ensure that all the OSS registration is done automatically through the new automated process as per https://docs.opensource.microsoft.com/tools/cg.html, as the other tool is being deprecated and shouldn't be used anymore.

[2019-04-12 22:28] fbeltrao commented on #12
I will remove, just need confirmation that all is good.

[2019-04-12 22:29] ryancrawcour commented on #12
sure. remove. i will then go put the stuff in to the new pipeline.

[2019-04-12 22:30] fbeltrao commented on #12
Done

[2019-04-12 22:35] TsuyoshiUshio commented on #12
@fbeltrao  You already done.  I also double check the same thing. :) Since you already remove it, LGTM!

[2019-04-13 15:37] fbeltrao opened #77 "Add connecting to secure Kafka broker to e2e test"
Ensure that as part of the e2e tests connections to a secure Kafka broker are verified.

[2019-04-14 16:41] ryancrawcour commented on #67
There is a PR open for this @agowdamsft  could you please take a look through https://github.com/Azure/azure-functions-kafka-extension/pull/78 and see if you approve.
I would add you as reviewer, but i can't for some reason.
Probably because you're not a member of the team / org or something.

[2019-04-15 03:41] agowdamsft commented on #67
Thanks Ryan I am attached to the Org may not be this project though. Either way I saw the changes https://github.com/Azure/azure-functions-kafka-extension/compare/fbeltrao/basic-auth and they looked good. I did not see a sample/example updated in this PR to view how its usage would be and test it myself (maybe I missed it).

Thanks,
Amar

From: Ryan CrawCour <notifications@github.com>
Sent: Sunday

[2019-04-15 03:45] ryancrawcour commented on #67
No. I do not believe you missed it. @fbeltrao did open a new issue #77 to go back and add tests, which is likley where the "example" will be. Will merge this for now, and if you find an issue after you've tried it yourself, or after the tests are published, we can always reopen the issue.

Thanks.

[2019-04-15 03:47] #67 closed

[2019-04-19 00:03] TsuyoshiUshio opened #80 "Should refactor to accomodate multi-language support"
I talked with Azure Functions product team about the Java bindings, and we found out that current design doesn't support multi language support.

e.g. We have "Type" for KafkaTriggerAttribute.

We can only use Basic types and POCO for that.   I'll set a meeting to discuss about this.  I post an issue not to forget this.

[2019-04-19 01:36] ryancrawcour commented on #76
Let's leave signing off for pre-release. We can revisit this before removing preview/alpha

[2019-04-19 02:04] TsuyoshiUshio commented on #76
Sure! Thanks!

[2019-04-19 04:55] jeffhollan commented on #80
Thanks @TsuyoshiUshio for looking into this.  Looking at the `KafkaTriggerAttribute` it looks like only some optional attributes are strongly typed.  Do you know if this blocks us from doing any Java support or just we'd need to refactor before we exposed all config options?

[2019-04-19 05:19] TsuyoshiUshio commented on #80
We have a meeting with @fabiocav and @pragnagopa for support Java implementation(I'm in charge java) .  I ask them to how to implement this case.  Their answer was we need to refactor the API little bit. (it is only works for C#) So, I'm trying to have a meeting with them and @fbeltrao to clarify, what is required for that. I'd like to make it minimum impact.  (or, Language support is P1, so if we

[2019-04-19 06:03] jeffhollan commented on #80
Good news is I just finished testing this in JavaScript / Typescript.  So we should have C#, JavaScript / TypeScript today.  Would be great if we could enable Python and Java by Build

[2019-04-19 06:16] TsuyoshiUshio commented on #80
How can you make it for JavaScript/TypeScript for this? How they implement (Type) part? If they are OK, Java might be Ok. Can you share the code?

[2019-04-19 06:19] priyaananthasankar commented on #80
Interested in Javascript implementation for this as well.  Also the contribution strategy varies across languages. Python has a different way to glue in binding parts compared to Java for example.

[2019-04-19 06:20] jeffhollan commented on #80
https://github.com/jeffhollan/functions-ts-kafka-twitter

[2019-04-19 06:22] jeffhollan commented on #80
And yes @priyaananthasankar I was hoping a `def main(event: str) -> None` would work with Python as well with the latest changes for the recent commit of allowing generic bindings but unfortunately it throws an exception about how `KafkaTrigger` isn't a recognized binding

[2019-04-19 06:26] priyaananthasankar commented on #80
@jeffhollan : So looks like Javascript it works seamlessly with the native C# bindings which is great.
So I chatted with @maiqbal11 today and yes Python needs a definition of trigger type and I am attempting to get a basic datatype of string working before I attempt rich types.

[2019-04-19 06:26] TsuyoshiUshio commented on #80
where can I find the mapping definition between java script and C#? For example, Java is something like this. (On going. not finished just for share) https://github.com/Azure/azure-functions-kafka-extension/issues/80 Static typed language and dynamic typed might be difference. (I only know how to mapping between Java and C#)

[2019-04-19 06:32] jeffhollan commented on #80
Yes each language has it's own quirks:

* .NET: Rich types supported for trigger.  Attributes and data type bindings that can convert as needed.  The attributes generate the `function.json`
* JavaScript: Pretty much just interfaces with all the .NET stuff out of the box but to the binding it "looks" like something that is just asking for `string` types for everything (or `byte[]` and soon `Stream`

[2019-04-19 06:58] TsuyoshiUshio commented on #80
Thank you for clarify it. However, it could be a problem for other languages. (Not only for Java)Look at the Readme of this project. This Kafka trigger support several protocols.

# Avro bindings

[code]

# Protocol Buffer binidngs

[code]

# The point

They both have `ValueType`  as type. It is the type of C#. If we serialize it, it will be something like this. `"TypeSerializeTesting.SomeClass, T

[2019-04-19 07:53] fbeltrao commented on #70
Fixed by #73

[2019-04-19 07:53] #70 closed

[2019-04-19 07:53] fbeltrao commented on #71
Solved by #73

[2019-04-19 07:53] #71 closed

[2019-04-19 08:06] fbeltrao commented on #80
@TsuyoshiUshio I don't think you can reuse the deserialisers for other languages so easily. In my understanding you should work with `byte[]` or `string`. Deserialisation is then implemented at the function level.

[2019-04-19 08:54] TsuyoshiUshio commented on #80
@fbeltrao I’ll ask them if we can skip the definition for the java side. You Switch the listener by the interface type. Is it only for deserializing in C#? Then I should ignore the KeyType and ValueType, and go without it(if possible) I’ll ask them tomorrow.

[2019-04-19 09:03] fbeltrao commented on #80
Yes, the type is for deserialization. Skipping gets you byte[] as body and the key is ignored

[2019-04-19 15:56] pragnagopa commented on #80
There is already a [dataType](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#bindings-data-type) property which can be used specify input type. Updating [KafkaEventData](https://github.com/Azure/azure-functions-kafka-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.Kafka/KafkaEventData.cs) to use generic types for key and value will keep the api cleaner

[2019-04-19 16:19] fbeltrao commented on #80
As in KafkaEventData<K,V> ?
How would other languages use string or byte[]?

[2019-04-19 16:40] pragnagopa commented on #80
KafkaEventData is a strong type that is/will be defined in azure-functions-kafka-extension sdk. We do not have support for strong types in non dotnet languages. Right now, out-of-proc languages cannot bind to type **KafkaEventData** . Eventually when do support strong types, each language needs to add this type.

[2019-04-19 16:47] fbeltrao commented on #80
Thanks for the info. So, in the current state, we need to be able to bind to byte[] and string to support all out-of-proc languages?

Is the current implementation usage of converters addressing this issue or do we need changes?

[2019-04-19 16:52] pragnagopa commented on #80
Following example from [SingleItemTrigger.cs](https://github.com/Azure/azure-functions-kafka-extension/blob/master/test/Microsoft.Azure.WebJobs.Extensions.Kafka.EndToEndTests/SingleItemTrigger.cs)

[code]
is only valid for C#. ValueType  property on  KafkaTrigger is redundant ad type can be inferrred from the KafkaEventData <K,V>
Removing value type will clean up  KafkaTrigger api.

[2019-04-19 16:55] fbeltrao commented on #80
Agree, it makes cleaner. But, the part I am not understanding is why would it make easier for other out-of-proc languages?

[2019-04-19 17:58] pragnagopa commented on #80
Two issues with the current implementation:
- Introduces a new property valueType of out-of-proc languages which is unnecessary when the same functionality can be achieved with dataType property
- Establishes a pattern for exposing `Type` when not needed. This would force a Java implementation of strong type KafkaEventData  also to use `object key` and `object value` instead of using generics to i

[2019-04-19 18:27] fabiocav commented on #80
Indeed, the key thing here is about the pattern and exposing language specific properties in the function metadata, in this case, the other benefit of revisiting the design is a better experience for .NET developers as well, as you can acually honor the types they want to use and expose the `Key` and `Value` properties using them, with a generic version of  the type.

[2019-04-19 18:27] fabiocav commented on #80
If you have issues or questions on how to setup bindings to support open generics, we can provide some guidance on that as well.

[2019-04-19 18:48] fbeltrao commented on #80
@fabiocav guidance on binding with generics would be great

[2019-04-19 19:34] TsuyoshiUshio commented on #80
I also want to know that.

[2019-04-19 20:41] TsuyoshiUshio commented on #80
Hi @fabiocav and @pragnagopa ,
Should we change the Attribute before publish it for multi language support?  I'd like to know if it is mandatory or recommendation.  Can we implement java annotation with ignoring the KeyType and ValueType for current implementation ? Or should we start with refactoring?

[2019-04-19 20:47] jeffhollan commented on #80
My 2c are that I think we could potentially ship without refactoring and just keeping them as non-configurable settings for other languages with the explicit plan to refactor post-release (Build).  Ideally we could do both, but also aware of the fact we are up against a time crunch.  That said there's always the risk we end up breaking people in the preview by waiting longer.  I'll let @fabiocav @

[2019-04-19 21:16] TsuyoshiUshio commented on #80
Sure. It must be the safe way for build.  We are creating a branch for the refactor (it is huge change) and try not to merge master until the build finished.  For the Rich types, we don't need to support "Type" type. :) It is .NET specific and it is impossible to handle from other languages. I don't want let them busy for it. :) Anyway, thank you for the advice. I'll follow your advice, release th

[2019-04-19 22:14] ryancrawcour commented on #80
Agree with @jeffhollan. Please create a new branch, do the refactor and submit a PR with all tests passing, and any new tests required by this change. Ideally at least one additional language that is requiring this change.

[2019-04-19 22:25] jeffhollan commented on #80
@ryancrawcour it will benefit all languages.  Today the Kafka trigger exposes some config that is *only* accessible in C#.

Spoke to @pragnagopa - understandably there's some hesitancy of shipping a preview with a feature we know we're going to have to break / refactor in the next few weeks.  Was wondering about the following approach:

1. Create a new branch where we refactor the code to expose t

[2019-04-19 22:42] ryancrawcour commented on #80
Sure. It'll work. Just wondering if we bother shipping anything until this refactor is complete.
It feels like many Kafka customers use Avro and authentication, so removing this will have a large impact.

[2019-04-19 22:43] jeffhollan commented on #80
It still works with Avro even without this right? It would just require in the interim you do the Avro decoding within the execution instead of relying on the trigger to automatically do it for you.  We've got Event Hubs customers who do this today so would be at parity.  But I'm open to thoughts on it.

[2019-04-19 22:47] TsuyoshiUshio commented on #80
The change will breaks these things.

* e2e testing
* samples
* documentation
* some logic change required

 Currently, KafkaTriggerAttribute.KeyType has 4 references, and ValueType has 17 references. Also we need to change the KafkaAttribute as well which has 4 references for KeyType and 12 references for ValueType.

[2019-04-19 22:52] ryancrawcour commented on #80
I dunno. You said it would mean removing Avro :)
The change has to be done, donkeys get it done.
The sooner we get it done the sooner we get this shipped and customers using it.

Now the question is who is going to take this on?

[2019-04-19 23:04] fbeltrao commented on #80
I am looking at the required changes at the moment. I am stuck with binding with generics. If I the team could provide a guidance I would be able to estimate how long it would take to do the refactor in a second branch.

Nevertheless, I would recommend making an internal branch/release with the current version make sure you can always go back to the working version you are testing/demoing on top o

[2019-04-19 23:09] jeffhollan commented on #80
@fabiocav can you setup some time with @fbeltrao for early next week?  I believe @anirudhgarg was going to set that up but let's get it started so we understand what we're going with.

And yes - I'm currently using a snapshot on MyGet so demos are safe.  I think we definitely need to ship something at build.  Given the noise around other announcements that aren't in this repo, Kafka is a key piece

[2019-04-21 10:09] jcooper1982 commented on #27
Hi guys,

Just found this thread and I’m not sure if the approach you guys are talking about is the most natural way to scale Kafka consumers.  Not that your ideas aren’t great, they just seem more aligned to something like Azure Service Bus than Kafka.

Queue length shouldn’t ideally be used to decide how many instances to spin up as that will compromise ordered processing of messages if you have

[2019-04-21 19:39] ryancrawcour commented on #27
Thanks @jcooper1982. Very good points. We currently only have one consumer per partition to ensure we keep ordered delivery intact. In terms of how many instances we need etc. this is where we're a bit stuck right now. Current thinking is that we need some kind of observer, but what should it observe on?

[2019-04-21 20:52] jcooper1982 commented on #27
Hi @ryancrawcour, consumer lag for the consumer group per partition is definitely the right thing to observe because then you can spin up one instance per partition which the consumer is lagging against, ensuring you only have just enough active functions running at a given time.  Is it actually possible to build a custom observer for Kafka in the functions engine?

I believe there is an admin cli

[2019-04-21 23:39] ryancrawcour commented on #27
Thanks @jcooper1982 we'd value your contributions whenever you get to it.

[2019-04-22 04:01] TsuyoshiUshio commented on #80
@fbeltrao already submit a PR for this. Amazing.  I see the Type was removed from Attributes.
@fabiocav and @pragnagopa , Could you review it, please?

[2019-04-22 07:32] fbeltrao commented on #27
Hi @jcooper1982 thanks for your feedback!

Current design:
- Let librdkafka manage partition assignment
- Adding new hosts will rearrange partitions. Scaling up to `Topic.PartitionCount`
- Order is guaranteed at partition level

I believe this is a good general implementation, assuming you have well distributed partition load and processing.

However, if partitions are unbalanced we would have to

[2019-04-22 08:20] jcooper1982 commented on #27
Hi @fbeltrao, yup that sounds like a perfectly good and standard design.  I will go through the code over the next few weeks and provide more feedback then too.

The main question is how will you decide whether to add new hosts or not?  An extreme option is to always have one host per partition which will mean rapid processing but inefficient costing and you might as well go for continuous WebJobs

[2019-04-22 08:47] fbeltrao commented on #27
I wouldn't worry about the function execution time, because the limit your are talking about is for the custom code that will be triggered by this extension. AFAIK the listening part does not have a limit, and will be shutdown only if the scale controller decides to scale it down.

[2019-04-22 10:04] jcooper1982 commented on #27
Fantastic.  Will dive into this a bit deeper soon and will hopefully have a better appreciation for the underlying architecture of Azure functions by then since I only understand this at a conceptual level right now.

Will also speak with my (soon to be new) employer about what level of collaboration they are willing to commit, since the SDK I wrote for them will likely have quite a few reusable p

[2019-04-22 17:13] TsuyoshiUshio commented on #12
Hi @ryancrawcour How is the status of this? Is it finished or on the process of the approval process? Need help?

[2019-04-24 06:32] priyaananthasankar commented on #10
Raised PR's
https://github.com/Azure/azure-functions-python-library/pull/13
https://github.com/Azure/azure-functions-python-worker/pull/389

[2019-04-26 17:59] agowdamsft commented on #21
Team we have seem alot of demand consume Event Hubs in the Hot-Path(Lambda architecture) to process /enrich the messages. Just doing a +1 on this request.

[2019-04-26 18:49] jeffhollan commented on #21
@agowdamsft what you described should work today with the Event Hubs trigger.  Am I missing anything?

[2019-04-26 18:57] agowdamsft commented on #21
@jeffhollan I meant current EH Functions Trigger (consuming AMQP) will work even if your messages are sent to EH on Kafka protocol. Nevertheless, you have this Kafka Native support for Func or not current EH Trigger for Func will work even when I am consuming Kafka protocol messages. So its probably documentation PR pointing them to use Event Hubs Trigger or you build a support as part of this Kaf

[2019-04-26 19:01] jeffhollan commented on #21
Yeah I think we'd likely recommend people use the Event Hubs trigger for functions as it uses the Event Hubs processor host directly and we are keeping it up to date with the EH team.  There is some value to the "let me move this code without changing it" which is why I'd like to have this trigger support both (moving from Kafka to cloud-hosted via EH), but for new users who have a choice I'd poin

[2019-04-26 19:18] fbeltrao commented on #75
1.0.0 is available, we should be using it.

[2019-04-26 19:19] fbeltrao commented on #75
I would wait for #82 before doing it.

[2019-04-26 23:57] ryancrawcour commented on #12
This is complete

[2019-04-26 23:57] #12 closed

[2019-04-26 23:58] #76 closed

[2019-04-28 21:17] ryancrawcour commented on #75
Ok. As soon as you complete #82 i will pull in the v 1 release of the Confluent library.

[2019-04-28 21:29] ryancrawcour opened #88 "Nice to have GitHub releases automated"
When releasing new versions to NuGet it would be nice to automate a GitHub release that corresponds with this, as 3rd parties and other interested parties monitor GitHub release feed for changes.

Reference - https://twitter.com/marcduiker/status/1122416965388242944

For info on automating releases in GitHub
https://developer.github.com/v3/repos/releases/#create-a-release

[2019-04-28 21:30] #53 closed

[2019-04-28 21:32] #77 closed

[2019-04-28 21:36] ryancrawcour commented on #36
@jeffhollan what's your take on this? Do you see an issue with depending on specific libraries like Avro andor Protobuf for developers trying to build functions?
Should we somehow allow developers to bring their own serializer?

[2019-05-01 04:05] jeffhollan commented on #36
I'm personally fine with the behavior of having it built in.  The biggest question I have is on schema.  I don't know if Avro and Protobuf require it but I know usually you read as a specific "type", and I don't know how a JavaScript user could provide their `.proto` metadata to enable it.  But maybe it's like JSON and we can read as a generic "JObject-like" thing and it's not a big deal.  Any tho

[2019-05-08 21:04] #10 closed

[2019-05-08 21:05] priyaananthasankar opened #93 "Python Kafka Output Trigger - Nested collections issue"
Kafka output trigger for Python gives a nested collection error from host. This is not related to Python code.

[2019-05-09 08:54] fbeltrao commented on #93
Hi @priyaananthasankar,

Could you please provide an example and logs?

[2019-05-13 03:38] ryancrawcour opened #94 "Should use the "new" way of writing bindings"
Currently uses the "old" method of writing bindings, which some earlier bindings (SB/Storage/etc) all still use.

There is a newer way to do this that doesn't require nearly as much code, and there is support for open generics.

You can see an example in the cosmos binding for a collector, which starts here: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.Cosm

[2019-05-13 03:44] ryancrawcour commented on #80
@fbeltrao with the merging of #82 can we now consider this issue resolved?

[2019-05-13 04:29] ryancrawcour commented on #75
There are some breaking changes between 1.0-RC3 and 1.0.0 that we need to look in to.

[2019-05-13 04:31] ryancrawcour commented on #9
This was complete with merging of #86

[2019-05-13 04:31] #9 closed

[2019-05-13 04:31] ryancrawcour commented on #42
@kennetham can we get an update on the status of this, please

[2019-05-13 05:54] fbeltrao commented on #75
@ryancrawcour I will take a look

[2019-05-13 06:02] fbeltrao commented on #80
Yes. Will close it.

[2019-05-13 06:02] #80 closed

[2019-05-13 20:32] #75 closed

[2019-05-22 23:44] grahamehorner opened #99 "dynamic binding fails"
When trying to bind to a KafkaAsyncCollector via the IBinder Binder.BindAsync<> with the KafkaAttribute the following exception is thrown
[code]

Please provide an example to show how to dynamically bind to the KafkaAsyncCollector

[2019-05-23 17:52] fbeltrao commented on #99
Hi @grahamehorner,

Thanks for reaching out. Could you please provide an example demonstrating the problem?

[2019-06-09 21:10] timfpark opened #101 "Javascript / Typescript example for input and output bindings"
As a developer, I would like to have an example that shows me how to to bind inputs and outputs with Kafka such that I can quickly build an Azure Function with Kafka.

There is [this example from a KEDA repo](https://github.com/kedacore/sample-typescript-kafka-azure-function/blob/master/KafkaTwitterTrigger/index.ts) but it doesn't have:

- [ ] An example of how you configure an output connection t

[2019-06-10 20:01] ryancrawcour commented on #101
@timfpark thanks for bringing this up. it would be great if you send a PR for this however i believe we still have an [an open issue](https://github.com/Azure/azure-functions-kafka-extension/issues/42) around support for JavaScript/Typescript so we're probably going to have to do that, first. Want to help contribute to that first?

[2019-06-10 20:02] ryancrawcour commented on #101
we're currently using https://github.com/Azure/azure-functions-kafka-extension/tree/master/samples for samples, and have one for .net and python. still need to add a java sample. and once we're done with #42 we can add a javascript folder here and include a sample

[2019-06-10 20:03] ryancrawcour commented on #99
@grahamehorner do  you have some code that repros this problem that we could use as a starting point?

[2019-06-10 20:06] ryancrawcour commented on #93
@priyaananthasankar do you have some repro code that produces this exception so we can dig in to the problem?

[2019-07-07 10:31] naserbaser opened #105 "Expose more ssl settings"
All settings related to ssl authentication/authorization should be exposed:

ssl.ca.location
ssl.certificate.location
ssl.key.location
ssl.key.password

[2019-07-08 18:54] #105 closed

[2019-11-13 07:39] sunil-suresh opened #108 "How to host a kafka trigger and invoke a webjob"
Apologies.

Could someone please explain how to host a trigger and then execute a webjob.
We are planning to implement a kafka trigger which would then invoke a webjob whenever a new message is available in kafka.

[2019-11-14 04:54] ryancrawcour commented on #108
@sunil-suresh

What are you attempting to do?
By execute a webjob do you mean an Azure Function, or something else (or job built against the webjobs sdk)?

[2019-11-16 08:30] sunil-suresh commented on #108
Im trying to execute the kafka trigger as a azure function app but I get a run time message saying no jobs found. Any reasons why?

[2019-11-21 02:38] jeffhollan commented on #27
Just updating this - we have a way now to create a custom trigger to run in VNet enabled plans (premium).  We should be able to make this trigger run well in the Premium plan (Linux and Windows) now

[2019-11-21 02:39] jeffhollan opened #109 "Local debug fails on mac"
[11/21/19 2:39:00 AM] The listener for function 'Functions.KafkaTwitterTrigger' was unable to start. Confluent.Kafka: Failed to load the librdkafka native library.

I can see in the `bin/` directory is a `runtimes` folder that includes bits for my machine `osx-64`. Not sure if that isn't enough.

@fabiocav  as an FYI as I know you looked into this ages ago

[2019-11-23 19:26] fbeltrao commented on #109
@jeffhollan could you please try installing librdkafka?
[code]

[2019-11-24 03:09] jeffhollan commented on #109
Thanks @fbeltrao will give this a try. I already de-provisioned my Kafka server but I expect this should work as I do not have `librdkafka` on the mac.

[2019-11-24 20:40] fbeltrao opened #110 "Hosting function in Azure throws librdkafka not found"
When running the function in Azure the function host fails to load as it cannot find librdkafka.dll.

[2019-11-27 14:34] #110 closed

[2019-11-27 14:39] fbeltrao commented on #108
Hi @sunil-suresh how are you building your function app?
Are you adding the reference to this project or using the nuget package for kafka extensions?

[2020-02-13 15:07] somak12 opened #116 "Release timeline for this extension"
Hi,
Is there any release timeline for this extension?

[2020-02-13 21:22] ryancrawcour commented on #116
for now, you can use this if you are running Functions on an App Service Environment, or within KEDA.

we're working on adding this extension as an officially supported extension. We are currently working on Functions Premium support, followed by Consumption plan support.

tagging: @ahmelsayed @anirudhgarg  for FYI

[2020-02-13 21:22] #116 closed

[2020-02-13 21:23] ahmelsayed commented on #116
/cc @amamounelsayed as well

[2020-03-22 16:16] mcollier opened #121 "Configurable cursor position to start processing"
As a developer,
I would like the ability to optional set the starting cursor position when processing the Kafka event stream,
so that I can start from a specific position in the stream instead of the last saved index.

This would make it easier to replay events if needed.

This should work for all Azure Functions GA supported languages.

There is a similar issue for Event Hubs. As a developer, I w

[2020-03-22 16:23] mcollier opened #122 "Provide a configurable retry policy for Kafka triggered functions"
As a developer,
I would like the ability to optionally configure a retry policy when the triggered function fails,
so that a failed execution does not automatically advance the cursor.

This feature should work for all GA supported Azure Functions languages.

There is a similar issue for the Event Hub extension. The expectation is that the Event Hub and Kafka extension work in a similar manner rel

[2020-03-22 22:16] ryancrawcour commented on #121
would the workaround ("manually update the checkpoint before starting the function") mentioned in that EventHubs thread be something that is workable today?

[2020-03-22 22:18] ryancrawcour commented on #121
assuming we'd go for the same sort of semantics as talked about there - exposing a DateTime from which to process the stream.

not sure how we'd translate that in to the Kafka event though. but this would need some investigation.

[2020-03-23 11:00] fbeltrao commented on #121
Looking at the [documentation](https://docs.confluent.io/2.0.0/clients/consumer.html), the library we use exposes the options Earliest or Latest. No possibility to "start 5 minutes ago".

This option takes place in case the consumer group has no recorded commits (i.e. new consumer group). Here a summary of how some use cases could be achieved:

|Use case|Option|
|-|-|
|Start consumer group with co

[2020-03-23 21:56] ryancrawcour commented on #121
agree that this sounds like a bad idea.

[2020-03-23 21:57] ryancrawcour commented on #121
@jeffhollan @anirudhgarg @amamounelsayed what's input on this from the Functions team in terms of what you're looking to do with the EventHubs extension?

[2020-03-24 16:10] FlipABit opened #123 "Cannot find librdkafka when hosting in Azure"
Locally the extension runs fine, but when hosting in Azure I get the error below. I'm using release `1.0.2` and hosting in a Linux premium function tier with the Node runtime.

Edit: Also occurs on a Windows-based Premium Function App

[code]

[2020-03-26 08:29] fbeltrao commented on #123
@FlipABit thanks for reaching out. We are looking into some options to address this problem. I will keep you posted

[2020-03-26 17:37] fbeltrao commented on #123
We are still investigating into it. A different way to address the problem is to use containerized functions (https://docs.microsoft.com/azure/azure-functions/functions-create-function-linux-custom-image?tabs=portal%2Cbash&pivots=programming-language-typescript) which are supported in premium.

There is an open PR adding a [Typescript sample](https://github.com/Azure/azure-functions-kafka-extensio

[2020-03-26 18:22] FlipABit commented on #123
I was able to get it running containerized locally, but to host a containerized function in Azure it requires using Linux servers, and Azure is currently unable to mix Windows and Linux servers in the same resource group/region, which is a requirement for me.

I got slightly closer to getting this working. My `extensions.csproj`:
[code]
This installs the librdkafka DLL. Locally it's installed in `

[2020-03-26 21:18] ryancrawcour commented on #108
@sunil-suresh this has been open and awaiting further input from you for some time, we should either progress this, or archive the issue.

thanks.

[2020-03-26 21:19] ryancrawcour commented on #99
@grahamehorner this issue has been open and awaiting input from you for some time. could we either progress this if it's still an issue for you, or i propose archiving the issue.

[2020-03-27 07:47] fbeltrao commented on #123
@FlipABit thanks for the update. You shouldn't have to add the librdkafka.redist references on your side. The files are supposed to be already in the "runtimes" folder.

The issue we are having is that we are unable to load the library, as it seems that some dependencies are missing in the image we use to run the function.

[2020-03-27 18:18] fbeltrao commented on #123
@FlipABit could you please try to add the following configuration setting into your application:
LD_LIBRARY_PATH=/home/site/wwwroot/bin/runtimes/linux-x64/native

[2020-03-27 21:22] FlipABit commented on #123
@fbeltrao We've switched to Windows hosted premium function apps to be able to use VNet capabilities (which is only available for preview in Linux and not supported in production workloads). Is there an Windows-based equivalent environment variable I can try?

I did spin up a linux function app in a different region just to test using the `LD_LIBRARY_PATH` setting, but it still didn't seem to work

[2020-03-30 07:18] fbeltrao commented on #123
Thanks for the update. I cannot reproduce the problem. There must be a difference in our configuration that is causing the issue.

I suggest we try to sort this out over a call. If you are ok with this please reach me out at frbeltra at microsoft dot com so we can schedule it.

[2020-03-30 18:53] #101 closed

[2020-04-03 01:01] #108 closed

[2020-04-03 01:01] #99 closed

[2020-04-22 23:26] erjok commented on #123
Same here - when I copy-paste Kafka trigger sample and run locally with Azure Emulator I get System.DllNotFoundException: Failed to load the librdkafka native library:

`   at Confluent.Kafka.Impl.Librdkafka.Initialize(String userSpecifiedPath)
   at Confluent.Kafka.Consumer`2..ctor(ConsumerBuilder`2 builder)
   at Confluent.Kafka.ConsumerBuilder`2.Build()
   at Microsoft.Azure.WebJobs.Extensions.

[2020-04-24 17:46] alexandery commented on #41
Shouldn't topics be infrastructure and managed outside of client code?

[2020-04-29 13:40] rodrilink opened #132 "Can I use SharedAccessKey to connect to the broker (EventHubs)?"
I'm unable to connect to my Azure EventHubs.

We use SharedAccessKey instead of SSL to get connected and I have this configuration to do it.

"EventBusConfig": {
    "BootstrapServers": "useddissvcaeh01.servicebus.windows.net:9093",
    "SecurityProtocol": "SaslSsl",
    "SaslMechanism": "Plain",
    "SaslUsername": "$ConnectionString",
    "SaslPassword": "Endpoint=sb://anyname.servicebus.windows

[2020-04-29 15:02] rodrilink commented on #132
Hi everyone.

I was able to consume a topic like this

![image](https://user-images.githubusercontent.com/1479630/80611387-25fa1180-8a00-11ea-8be9-cb650a1d5ac9.png)

For this reason, Is there a way to set the property "EventHubConnectionString" in the Producer?

[2020-04-29 22:06] #132 closed

[2020-04-29 22:41] ryancrawcour commented on #132
@rodrilink can i asked why you closed this? i was just about to start triaging it 😉

[2020-04-29 23:16] FlipABit commented on #123
I was finally able to revisit this after getting pulled off to some other work. I'll start with the TL;DR: I was able to get the extension working on both Windows and Linux non-containerized function app environments, but with a few small tweaks.

**For Windows deployment:**
I used my existing code that was previously failing and updated the `extensions.csproj` to use the 2.0.0-beta release. Still

[2020-04-30 18:27] rodrilink commented on #132
Hi @ryancrawcour :)
Well, I was having trouble when I started implementing this extension and realize that I need to download a CA certification to make the producer works.

To sum it up, I was able to produce and consume messages through this extension :)

I will take advance of this reply and ask you something, Is there any way that I can sort out the authentication as the consumer does just to

[2020-05-07 12:40] rondagdag opened #134 "Error sending data to Confluent as a producer"
I followed the steps in Connecting to Confluent Cloud in Azure.
The trigger works fine in typescript.
It's receiving messages properly when sslCaLocation is specified.

Bindings looks like this

[code]

I specify the environment variable
"CONFLUENT_CACERT" : "confluent_cloud_cacert.pem"

I get this error sending data to Confluent as a producer. It works locally without path to pem specified, but w

[2020-05-07 23:50] rondagdag commented on #134
I found out that on windows deployment needs to specify sslCaLocation. On Linux, don't specify sslCaLocation.

https://github.com/confluentinc/examples/tree/5.4.0-post/clients/cloud/csharp#produce-records

[2020-05-28 06:31] anirudhgarg commented on #134
Thanks @rondagdag - we will update the samples.

[2020-05-28 06:44] ryancrawcour commented on #134
that's interesting. should do some more investigation as to why this difference occurs across platforms.

[2020-05-28 06:46] ryancrawcour commented on #123
So @FlipABit does it work now with the configuration above? Are you able to receive messages and trigger a Function?

[2020-05-28 06:47] #88 closed

[2020-05-28 06:47] #42 closed

[2020-05-28 06:47] ryancrawcour commented on #42
Closed by #133

[2020-05-28 06:48] ryancrawcour commented on #27
Azure Functions Premium now supports scaling based on Kafka topic length.
Support in KEDA exists

[2020-05-28 06:48] #27 closed

[2020-06-24 23:25] TsuyoshiUshio opened #141 "Support Alpine Docker image for V3"
We have a sample of alpine Docker images in here.
https://github.com/Azure/azure-functions-kafka-extension/blob/dev/samples/java/Dockerfile

In this, PR, I include v3 host docker sample.

https://github.com/Azure/azure-functions-kafka-extension/pull/140

We need to decide if we should support Alpine V3 image or not.

[2020-06-26 15:56] rkbalu opened #142 "[Question]: What happen when function failed after it read from the kafka topic"
Hello Everyone,

I have a quick question around what will happen when a function failed after trigger actually read/consumed a event from the Kafka topic? Will it still update the offset? So that consumer has to handle the failed batch same as EventHubTrigger.
(or)
Kafkaextension will not update the offset.

Also, would be good if you point towards any documentation about this please.

thanks!

[2020-06-26 22:34] TsuyoshiUshio commented on #134
The reason is, On windows, the Kafka library can't see the registry, so they can't refer the CA cert. however, on Linux/Mac, there is no such thing like Registry, so it works. If we upgrade to the new version, it might be solved.
https://github.com/confluentinc/confluent-kafka-dotnet/releases/tag/v1.1.0

[2020-06-26 22:46] ryancrawcour commented on #134
Yes, that looks like that will resolve the issue.

[2020-06-26 23:15] TsuyoshiUshio commented on #109
Hi @jeffhollan ,
Does it work? If you like, once this PR is merged, you can try it on DevContainer.
I don't know much about the past, however, current version have the librdkafka on the NuGet Package. so we don't need to install librdkafka manually. If you are Ok, I'd like to close this issue. :)

https://github.com/Azure/azure-functions-kafka-extension/pull/140

[2020-06-26 23:15] #109 closed

[2020-06-26 23:17] TsuyoshiUshio commented on #123
Hi @FlipABit ,
You seem solve the problem. I provide an updated version of the sample.  So I close this issue. If you don't solve this, feel free to reopen this issue.

The PR of the new sample is in here. It will be merged soon.
https://github.com/Azure/azure-functions-kafka-extension/pull/140

[2020-06-26 23:44] TsuyoshiUshio commented on #134
Sure! @ryancrawcour
I'll consider to upgrade the version in the near future. after testing it.

[2020-06-27 00:01] TsuyoshiUshio commented on #63
Hi @fbeltrao
Did you finish this?

[2020-06-27 00:34] TsuyoshiUshio commented on #35
Hi @fbeltrao
Could you explain more detail of this issue?

[2020-06-27 00:42] TsuyoshiUshio commented on #8
Close this issue, since we have
https://github.com/Azure/azure-functions-kafka-extension/issues/122
Please discuss on it! :)

[2020-06-27 00:42] #8 closed

[2020-06-29 12:18] fbeltrao commented on #63
No, I haven't

[2020-06-29 12:20] fbeltrao commented on #35
This feature would allow the extension to validate messages against an external schema registry. This is something the Confluent offers to customers to ensure message format consistency.

[2020-06-30 15:00] rodrilink opened #148 "Support read "ConsumerGroup" from settings"
Hi, Is there any way that ConsumerGroup property could be read it from the **local.settings.json**

{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "EventBusConfig:BootstrapServer: xxxyyy.servicebus.windows.net:9093",
    "EventBusConfig:GroupId": "Group.Dev",
  }
}

There is an issue when a team is working with this extension and everybody gets connected to t

[2020-06-30 17:47] TsuyoshiUshio opened #149 "New Symbol System"
This repos symbol system looks old. According to the CI/CD pipeline, it seems not published.
It might be better to update the CI by this line, and make it work on the CD pipeline.

[code]
For more details
[Creating symbol packages (.snupkg)](https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg)

The document says

[2020-07-01 00:33] TsuyoshiUshio commented on #142
Hi @rkbalu

Thank you for your question!

If a function execution fails, the kafka trigger won't update the commit.
We are using [Store Offset](https://docs.confluent.io/current/clients/dotnet.html#store-offsets) strategy.

We read it before the function execution without commit, then execute the function, then if there is no cancelation happens (that means the functions fail), it will commit.  If

[2020-07-01 07:57] TsuyoshiUshio commented on #148
Hi @rodrilink
Thank you for the issue! That's make sense! I'll consider to this one.
I'll test it and see if it works in the near future.

[2020-07-01 14:31] TsuyoshiUshio commented on #142
Hi @rkbalu
The reason of the behavior is

Given this offset and consumer behavior, functions will continue to progress the pointer on the stream regardless if the execution succeeded or failed.

For more details refer to
https://medium.com/hackernoon/reliable-event-processing-in-azure-functions-37054dc2d0fc

The latest update on the EventHubs, they are supporting retry feature.
https://github.com/

[2020-07-01 21:21] rodrilink commented on #148
You're welcome @TsuyoshiUshio, I hope to see this feature soon and not to wait too much because we could end up removing this awesome extension from our project.

[2020-07-02 13:10] rkbalu commented on #142
Thanks!

Look like re-try still in open state. so i assume this is not something available generally now.

thanks. I thought so.

the documentation says, this extension being supported with premium plan. Does it mean P1 or elastic premium please?

[2020-07-27 12:45] n-krueger opened #155 "Update Python binding package on PyPi"
The Python binding library available on PyPi is outdated: https://pypi.org/project/azure-functions-kafka-binding/#description
This causes the following error:
[code]

[2020-07-28 04:09] tjsiron opened #156 "How to use environment variable for brokerList in kubernetes deployment"
I'm running into an issue where I'm trying to deploy a C# azure function and deploying it to kubernetes.

The `KafkaTriggerAttribute.brokerList` attribute seems to be what is used when building the metadata for the `ScaledObject`.

The only way I can get the `ScaledObject` kubernetes resource to generate correctly is by using the brokerlist directly in the function rather than providing any kind o

[2020-08-05 04:02] ThomasManson opened #157 "Binding attribute properties for files attempt to load the file from the runtime folder in Azure, not the deployed folder"
This is the output binding attribute I used:
    [Kafka(
        "%brokerlist%",
        "",
        SslCaLocation = "cacert.pem",
        AuthenticationMode = BrokerAuthenticationMode.Plain,
        Protocol = BrokerProtocol.SaslSsl,
        Username = "$ConnectionString",
        Password = "%SendEventHubConnString%")]
    IAsyncCollector<KafkaEventData<Policy>> kafkaOut

When this was deployed

[2020-08-05 16:14] TsuyoshiUshio commented on #155
Hi @n-krueger
It looks different one.
https://pypi.org/project/azure-functions/
This is the one that we support. :)

[2020-08-05 16:15] #155 closed

[2020-08-05 16:33] TsuyoshiUshio commented on #156
Hi @tjsiron
Thank you for this issue. I realize that the issue. In this case, Kafka Trigger on C# is fine. However, The KEDA scaler configuration might be the issue. Under the hood, Kafka Trigger on this repo, substitute the LocalBroker as Environment variables.  So that there is no connection between KEDA and this Kafka Trigger. For enabling the feature, could you create an issue on KEDA repo? ht

[2020-08-05 16:43] TsuyoshiUshio commented on #157
Hi @ThomasManson
Thank you for creating the issue.  The current recommended solution is:

* Download CA certificate (i.e. from https://curl.haxx.se/ca/cacert.pem).
* Rename the certificate file to anything other than cacert.pem to avoid any conflict with existing EventHubs Kafka certificate that is part of the extension.
* Include the file in the project, setting "copy to output directory"
* Set t

[2020-08-05 16:53] tjsiron commented on #156
Thank you! I will do that. I wasn't sure which repo it fell under.

[2020-08-05 23:35] ThomasManson commented on #157
I tried this. Downloaded the CA certificate again, called it cloud_cacert.pem. Added to the solution and ensured it was deployed.
Changed the attribute to use "cloud_cacertpem" for the SslCaLocation. Deployed to Azure functions.

Checked that the file has been deployed. It is in both the D:\home\site\wwwroot and D:\home\site\wwwroot\bin folders.

Got the same error message when trying to send to a

[2020-08-10 14:06] meken opened #158 "KafkaOutput binding 'topic' attribute doesn't support environment variables"
At least for the Java bindings the following config fails:
[code]
whereas the username, password etc support environment variables. Interestingly, the `@KafkaTrigger` topic attribute also supports environment variables.

See below the error messsage indicating that the topic name is not resolved properly.
[code]
Obviously replacing the environment variable with the name of the topic in verbatim wo

[2020-08-11 16:50] TsuyoshiUshio opened #159 "Kafka extension for Functions (triggers, input & output bindings) support for EventHubs Kafka API needs to be documented"
I had a comment from a customer.

# comment
In order to get things working with Java and Kafka API for Event Hubs, I had to copy and explicitly refer to the cacert.pem. I didn’t want to use the eventHubConnectionString attribute for the KafkaTrigger annotation as that defeats the purpose, the API clients should only use Kafka APIs. It would be great if the cacert.pem could be resolved automaticall

[2020-08-11 17:14] TsuyoshiUshio opened #160 "Update official documentation to support Kafka extension"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

There is no mention about the kafka trigger. We need to update to add it.

[2020-08-11 17:53] TsuyoshiUshio commented on #158
I believe this PR solves. :) https://github.com/Azure/azure-functions-kafka-extension/pull/153

[2020-08-12 11:21] meken commented on #158
@TsuyoshiUshio it looks like that the PR addresses the environment variable resolution only for the Listener (for the `@KafkaTrigger`), however I'm having trouble with the output binding (`@KafkaOutput`).

Just had a quick look at the `KafkaProducerFactory.cs`, the name resolution for other attributes takes place when a `ProducerConfig` is created. However, this class doesn't contain the topic inf

[2020-08-16 04:53] shaunco commented on #159
Depending on your security posture and platform, you may have wildly lists of CA's that you trust. While cacert.pem has 133 certificates in it, it appears that Azure only actually uses 3:
- **DigiCert Baltimore Root --Used Globally--** - This cert should be used when connecting to Azure IoT on the Azure Cloud available globally. When in doubt, use this cert.
- **D-TRUST Root Class 3 CA 2 2009** -

[2020-08-16 05:03] shaunco opened #161 "C# KafkaTriggerAttribute and KafkaAttribute should accept strings for Protocol and AuthenticationMode"
C# requires that `attribute arguments must be a constant expression, typeof expression, or array creation expression of an attribute parameter type`, which makes putting the `Protocol` and `AuthenticationMode` arguments for both **KafkaTriggerAttribute** and **KafkaAttribute** in to `*.settings.json` files impossible.

In code you can do something like:
[code]

but, that doesn't work for Attribute

[2020-08-17 03:31] ryancrawcour commented on #157
@TsuyoshiUshio just assigned this to you. If your work on #151 will resolve the need for this, then that could be a solution. Else we need to look in to this as a customer is currently blocked and asking for our plan.

[2020-08-17 03:45] ryancrawcour commented on #159
Thank you for your comments @shaunco. @TsuyoshiUshio can this issue be closed, or is there work to be done here?  If so, is this related to #157 and #151 ?

[2020-08-17 03:46] ryancrawcour commented on #156
@tjsiron did @TsuyoshiUshio's suggestions resolve the issue for you?

[2020-08-17 03:50] ryancrawcour commented on #142
@rkbalu we have #122 open to track retry feature request. this was added to bring this extension in-line with similar capabilities to the open work happening for EventHubs. Could we track requests / features etc. for retry on this issue going forward.

Other than retry, have all your questions been addressed? If so, I'd like to close this issue.

[2020-08-17 03:51] ryancrawcour commented on #148
this has been merged with #153. @rodrilink can you please confirm if this fully addresses your request.

[2020-08-17 04:18] ryancrawcour commented on #157
In an output binding (to write to Kafka) these values are specified as properties on an attribute, and are therefore specified at compile time. It's not great that we have a hardcoded path in code at compile time.

This could be fixed in the library.
There is already code in the library to determine the root location for the files, because we load some other files from that location. The library s

[2020-08-17 05:28] shaunco commented on #159
I'd like to see this stay open as an enhancement request to the documentation.

[2020-08-17 11:46] rkbalu commented on #142
Thanks @ryancrawcour! Only question i have now is about the supported hosting options. From documentation i can see Premium is supported, but not sure whether or not only elastic premium is supported? any clarification would be highly appreciated.

[2020-08-17 21:28] ryancrawcour commented on #159
thanks @shaunco i will take it off triage, and leave it open.
which documentation would you like to see enhanced? the docs on github for this extension, or other docs regarding the CA cert info you dug out?

[2020-08-17 21:34] ryancrawcour commented on #142
@rkbalu Functions has a few different  hosting plans.

More info on these can be found here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#hosting-plans-comparison

For now, this extension is available and supported in the following hosting plans -
Premium
Dedicated (App Service)
App Service Environment (ASE)
Kubernetes (KEDA)

It is not supported, currently, in
Consumpti

[2020-08-17 21:36] ryancrawcour commented on #142
If you're asking which SKU and size of Premium it is supported on, i believe it is all of them available under Premium hosting plan. The SKU and size just determine the size of the instances Azure will reserve for you. Functionality and features should be equivalent across the SKUs.

@jeffhollan / @anirudhgarg / @ahmelsayed  are you able to confirm the above please.

[2020-08-18 02:53] shaunco commented on #159
Both. The current docs on github for this extension seem heavily focused on connecting to real Kafka instances. They should also include detailed instructions on how to connect to Azure EventHubs' Kafka endpoint, as a useful configuration is to use the Kafka trigger for functions and point it to Azure EventHubs' Kafka in production and a local docker container with Kafka for local development or a

[2020-08-18 02:57] ryancrawcour commented on #159
thanks @shaunco
and you're right, when we first built this extension we did focus it purely on connecting to real Kafka
BUT, there's no reason this cannot work with EventHubs's Kafka API.

I'll take it as an action item to update the docs for this extension to include detailed walk-through for setting this up in that scenario.

[2020-08-18 02:59] ryancrawcour commented on #159
I have renamed the issue accordingly to indicate that the documentation needs to be updated.

[2020-08-18 04:34] shaunco commented on #63
Header access in KafkaEventData would be great to have

[2020-08-19 14:49] ahmelsayed commented on #142
Yep, that's correct. For dedicated you will need to make sure the app is marked as "AlwaysOn", but that's the default there.

[2020-08-19 17:55] TsuyoshiUshio opened #162 "Update LocalSchemaRegistry"
The `LocalSchemaRegistry` is created for the use case that for using `Avro` schema without using SchemaRegistry`.

https://github.com/Azure/azure-functions-kafka-extension/pull/151#issuecomment-676352144

For improving the implementation, we can do like this. however, more work required. I separate the work with this PR.
https://github.com/Azure/azure-functions-kafka-extension/pull/151 That includ

[2020-08-21 02:58] rodrilink commented on #148
Hi @ryancrawcour, yes this addresses my request completely 👍 this will be very helpful to my team.
I appreciate your help on this issue. :)

[2020-08-21 13:26] meken opened #164 "Avro support for the Java bindings?"
Avro doesn't seem to be supported as a first class citizen in the Java bindings (I end up with  UnsupportedOperationException: Interface can't be instantiated! Interface name: org.apache.avro.generic.GenericRecord when I try it). Is this intended?

BTW, I could sort this out by working with byte arrays and Avro DatumWriter/Readers, but it would be nicer to have better support (comparable to the C#

[2020-08-25 12:47] dwoldo commented on #148
@ryancrawcour Thanks for addressing this! What is the release cadence as a NuGet ([REF](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Kafka/))? I've locally pulled the dev branch to utilize this work, but hope to move to a NuGet (more clean).

[2020-08-25 21:37] ryancrawcour commented on #148
@dwoldo  there is no fixed release cadence. we're just working on one or two items right now which should be done soon and then we'll likely push a new release. agree that moving to an official NuGet reference would be cleaner, hang with us, we'll get you one soon.

[2020-08-26 04:52] TsuyoshiUshio commented on #159
Hi guys,
We update the Kafka API.  I tested using the new version. It works. :)
https://github.com/Azure/azure-functions-kafka-extension/pull/151

I'll update the documentation and fix some other issue, then I'll publish the new nuget package.

[code]

![image](https://user-images.githubusercontent.com/1390976/91256772-11632700-e71d-11ea-9a13-11da5c40b788.png)

[2020-08-26 18:14] TsuyoshiUshio commented on #164
Thank you for sharing @meken
Good point. I have no afford right now, however, I'd like to keep this for being the future backlog.

[2020-08-27 17:03] TsuyoshiUshio commented on #158
Done implementation, could you wait for the next release?

[2020-08-27 17:03] #158 closed

[2020-08-27 17:06] TsuyoshiUshio commented on #159
I update the documentation and sample, and make sure it works with the new version.

https://github.com/Azure/azure-functions-kafka-extension/pull/151
https://github.com/Azure/azure-functions-kafka-extension/pull/165

Please wait for the next release.

[2020-08-27 17:06] #159 closed

[2020-08-27 17:11] TsuyoshiUshio commented on #134
This will solved by this https://github.com/Azure/azure-functions-kafka-extension/pull/151 We no longer needed the CA  cert!
I'll release a new version today.

[2020-08-27 17:11] #134 closed

[2020-08-27 18:09] #157 closed

[2020-08-28 00:01] TsuyoshiUshio commented on #21
I supported Output bindings as well for the next release. I published it.
https://github.com/Azure/azure-functions-kafka-extension/issues/159

[2020-08-28 00:01] #21 closed

[2020-08-28 00:05] TsuyoshiUshio commented on #148
Released 3.1.0. :)

[2020-08-28 00:05] #148 closed

[2020-08-31 02:09] shaunco commented on #123
This is still pretty easy to reproduce:
[code]
Then:
1. Change the trigger attributes in `KafkaExample` from Service Bus to this Kafka library.
2. Add `ENV AZURE_FUNCTIONS_ENVIRONMENT=Development` to the `Dockerfile`
3. Add `logging.logLevel.default="Information"` to `host.json`
4. (yes, you can add `ENV LD_LIBRARY_PATH=/home/site/wwwroot/bin/runtimes/linux-x64/native` to `Dockerfile` but that is

[2020-08-31 03:13] ryancrawcour commented on #123
thanks @shaunco. agree, this should be resolved.  i've reopened the issue.

[2020-08-31 05:38] TsuyoshiUshio commented on #123
Hi @shaunco
Sorry, it should be documented. Unfortunately, current func tool doesn't support Kafka workload.
LD_LIBRARY_PATH is required in this case.

[2020-08-31 21:38] TsuyoshiUshio commented on #123
Hi @shaunco and @ryancrawcour

However, I'll investigate the architecture without setting it for linux. (That is only requied for linux). It might not high priority, however, I'll consider it.

[2020-09-01 18:27] bm77525-kr opened #169 "v3.1.0: Confluent.Kafka: No such configuration property: "client.software.name""
After updating to the latest 3.1.0 release, starting our function app produces this error:

[code]

We're using the node function runtime.

My `function.json` looks like:
[code]

Is there a new required configuration parameter I'm missing?

[2020-09-01 19:11] bm77525-kr commented on #169
After a little more digging, it looks like it's related to the version of librdkafka installed locally being < v1.4.0. After upgrading librdkafka it appears to work.

[2020-09-01 19:11] #169 closed

[2020-09-02 18:24] shaunco commented on #123
Thanks, I hadn't seen that particular wiki page, but good to know it is documented outside of this issue.

I'm not clear on what you are investigating outside of linux, as Windows doesn't need the LD_LIBRARY_PATH environment variable?

[2020-09-09 15:26] gliljas commented on #63
How would you like "binding properties" to work?

[2020-09-10 08:55] gliljas opened #171 "The event Timestamp should be a DateTimeOffset"
Maybe a minor thing, but I think all (?) modern libraries should move to DateTimeOffset, instead of DateTime. It's a much better datatype and it's what's recommended by the Framework Design Guidelines.

[2020-09-14 03:39] shaunco opened #172 "KafkaAttribute.MaxMessageBytes is never used in KafkaProducerFactory"
It is currently impossible to produce messages over 1MB because KafkaAttribute.MaxMessageBytes is never used in KafkaProducerFactory.

Additionally, MaxMessageBytes can't be set directly as an attribute:
[code]

Because `int?` is not a valid attribute type in C#.

[2020-09-16 01:22] hannesne opened #173 "Deploying kafka trigger to Windows Premium app using eventhubs kafka heads gives ssl cert error"
I'm getting the following error in my logs when deployed to a windows based Premium function app: `sasl_ssl://hnltestbkend3wepfx-std.servicebus.windows.net:9093/bootstrap: SSL handshake failed: .\ssl\s3_clnt.c:1269: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed`

Any idea how to fix this?

[2020-09-16 18:30] TsuyoshiUshio commented on #173
Hi @hannesne Sorry for inconvenience. It looks the bug of the libkafka.
It happens only on Premium (Windows). When I test my PC on Windows, it works. Probably related this issue. https://github.com/edenhill/librdkafka/issues/3025

https://github.com/confluentinc/confluent-kafka-dotnet/issues/1374

For the work around, You can do like this. I tested, and it works with EventHubs and Premium Windows

[2020-09-16 21:05] TsuyoshiUshio commented on #173
I also tested with Confluent Cloud. It was the same.
For the Confluent Cloud,

1. Download CA certificate (i.e. from https://curl.haxx.se/ca/cacert.pem).
2. Rename the `cacert.pem` to `confluent_cloud_cacert.pem` avoid conflict with existing EventHubs Kafka certificate that is part of the extension.
3. Include the file in the project, setting "copy always"
4. Set `SslCaLocation = "confluent_cloud_

[2020-09-16 21:42] TsuyoshiUshio commented on #172
Thank you, @shaunco to notice it.
I check the code and I confirm that the value is not used. I'll find a time to implement it.

[2020-09-16 21:48] TsuyoshiUshio commented on #171
It seems confluent-kafka-dotnet is using the DateTime.
https://github.com/confluentinc/confluent-kafka-dotnet/search?p=2&q=DateTime&unscoped_q=DateTime

However, what you said is true. Thank you for sharing. I can't prioritize this now. However, keep this issue as open.

[2020-09-17 18:44] rahulroy1 commented on #142
Reading about the commit even in failure scenario, I am looking for some guidance on a production grade deployment.
I have Kafka as the source event trigger and my output is a REST endpoint.
Since this connector is still in preview stage, what could then be the preferred option in Azure?

[2020-09-17 19:46] gliljas commented on #171
https://github.com/confluentinc/confluent-kafka-dotnet/pull/1408

[2020-10-13 20:26] amotl opened #181 "Output binding example for Python"
Hi there,

thank you so much for providing Azure bindings for Kafka. Our scenario is that we use Python to consume events from Azure EventHub using its trigger binding and want to write events to both CrateDB and Kafka.

While there is a snippet within the README outlining how to use the output binding with C# [1], we are humbly asking if you can guide us how to use the output binding with Python,

[2020-10-14 12:21] borys86 opened #183 "autocommit flag"
Dear developers
AutoCommitIntervalMs allows to set interval for auto commit.
What about a case when handling failed we want to retry, could it be possible to set auto commit to false in some way?

[2020-10-15 16:00] TsuyoshiUshio commented on #181
Thank you for the request. I'd like to consider to add sample.

[2020-10-15 19:54] TsuyoshiUshio commented on #183
Thank you for the suggestion, Let me investigate it.

[2020-10-15 20:31] amotl opened #185 "Upgrade to Confluent.Kafka 1.5.2"
Dear @TsuyoshiUshio, @fbeltrao and @ryancrawcour,

as I see you have upgraded to Confluent.Kafka 1.4.3 within #151 the other day, I would like to humbly point out https://github.com/edenhill/librdkafka/issues/3109 to you.

Without using the Azure Kafka bindings yet, we and others tripped into different issues when connecting to Event Hubs with librdkafka <1.5.0 through its Python binding [confluen

[2020-10-15 22:09] TsuyoshiUshio commented on #185
Thank you for sharing it,  @amotl

Absolutely, I'd like to upgrade it once it comes. I'd like to upgrade the code to adopt the recommended configuration for Azure.
I appreciate your contribution. I also might ping him to heads up the intermediate certificate issue.

[2020-10-20 16:37] amotl commented on #185
Dear Tsuyoshi,

librdkafka 1.5.2 GA has just been released, see [1]. For making progress on that, we will probably have to wait for the bump propagating to [confluent-kafka-dotnet](https://github.com/confluentinc/confluent-kafka-dotnet) and being available on NuGet [2].

With kind regards,
Andreas.

[1] https://github.com/edenhill/librdkafka/releases/tag/v1.5.2
[2] https://www.nuget.org/packages/C

[2020-10-20 17:00] TsuyoshiUshio commented on #185
Thanks. It's a good new. Once it is released. I'll release this library with it.

[2020-10-20 19:28] amotl commented on #185
Thanks. @mhowlett is on it, see https://github.com/confluentinc/confluent-kafka-dotnet/issues/1432.

[2020-10-21 02:08] amotl commented on #185
Confluent.Kafka 1.5.2 has been released, see https://www.nuget.org/packages/Confluent.Kafka/. Thanks a bunch, @mhowlett and @edenhill!

[2020-10-21 02:09] TsuyoshiUshio commented on #185
It's a good news I'll include it

[2020-10-21 05:42] TsuyoshiUshio commented on #185
Sounds good? https://github.com/Azure/azure-functions-kafka-extension/pull/186

[2020-10-21 10:41] amotl opened #187 "Review default values for configuration settings"
Dear @TsuyoshiUshio and @fbeltrao,

firstly, I would like to apologize for bumping into the review process at https://github.com/Azure/azure-functions-kafka-extension/pull/186#discussion_r509010903 and https://github.com/Azure/azure-functions-kafka-extension/pull/186#discussion_r509154087. Let's better continue a more thorough discussion here.

As a followup to #185, I would like to dedicate this

[2020-10-21 10:47] amotl commented on #187
Dear @TsuyoshiUshio,

based on my observations at #186, I believe making `topic.metadata.refresh.fast.interval.ms` tuneable is not so important.

However, getting the default values for the settings `socket.keepalive.enable` and `metadata.max.age.ms` right from the beginning will bring more value with respect to a reasonable out-of-the-box experience to all future users of this extension.

With ki

[2020-10-21 19:26] TsuyoshiUshio commented on #187
Hi @amotl
Thank you for your jump in. That upgrade is trying to include your request. I'd like to achieve your goal.
Could you help me to understand and clarify it?

The reason why I include `topic.metadata.refresh.interval.ms` is I found this
![image](https://user-images.githubusercontent.com/1390976/96770793-a7ba6e80-1395-11eb-933e-94387c7c0633.png)
on your post https://github.com/edenhill/librd

[2020-10-21 19:47] amotl commented on #187
Dear @TsuyoshiUshio,

thanks for considering to bring in the respective default values for the configuration properties which are of primary concern here.

While I recognized `topic.metadata.refresh.interval.ms` has been mentioned within a quote coming from Magnus Edenhill I've cited within my report, I don't know much about this parameter yet. And I don't know much about `topic.metadata.refresh.f

[2020-10-21 20:34] TsuyoshiUshio commented on #187
Thank you for helping me to understand! I'll implement it. For the breaking change part, I'll wait the other guys opinion. However, I'll add the properties at least.

I also add the properties that is described as recommended for EventHubs.
https://docs.microsoft.com/en-us/azure/event-hubs/apache-kafka-configurations#librdkafka-configuration-properties

[2020-10-22 04:24] TsuyoshiUshio commented on #187
I investigate other properties however, all of them is already configured as the ideal configuration. I just add these two.

[code]

[2020-10-22 04:42] TsuyoshiUshio opened #188 "Refactor Commented out samples"
C# kafka samples includes several comment out lines.

We should have separate project for each samples.

* Simple KafkaTrigger/Output
* Confluent Cloud
* Avro
* EventHubs

[2020-10-22 05:10] TsuyoshiUshio commented on #187
Hi @amotl
Sounds good? https://github.com/Azure/azure-functions-kafka-extension/pull/186

[2020-10-22 07:43] amotl commented on #187
Dear @TsuyoshiUshio,

that looks good so far. Thank you very much!

With kind regards,
Andreas.

[2020-10-27 11:56] amotl commented on #187
Thanks a again for considering these improvements! Closing this now.

[2020-10-27 11:56] #187 closed

[2020-10-27 12:45] amotl commented on #185
Thanks a again for considering to upgrade to 1.5.2! Closing this now.

[2020-10-27 12:45] #185 closed

[2020-10-27 12:49] amotl commented on #181
Dear Tsuyoshi,

now that we've resolved #185 and #187 (thanks again!) can I humbly ask you about this again?

With kind regards,
Andreas.

[2020-10-30 07:30] maxbog commented on #122
Hi @mcollier. Is this something that is being worked at?

[2020-11-05 03:34] mcollier commented on #122
@maxbog I don't have any insights on specific work for the Kafka extension.

FYI - There is now a retry policy for function triggers; see https://docs.microsoft.com/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies.

[2020-11-07 08:38] maxbog commented on #122
@mcollier I saw those annotations, but from this issue I understand that they need some code in the kafka trigger to be supported, right? What I'm looking for is a retry on an exception without advancing the cursor.

As far as I know, right now even if an exception occurs in the function code, the kafka cursor will go forward.

Maybe I could help here and submit a PR based on how it's implemented

[2020-11-08 11:55] maxbog commented on #122
I just read some code in the https://github.com/Azure/azure-webjobs-sdk/pull/2463 PR and for me it seems that there is nothing required on the kafka extension to support the retries.

@mcollier Can you confirm that the Retry attributes will work without any changes to this repo?

[2020-11-09 19:52] TsuyoshiUshio commented on #122
Hi @maxbog

I talked with the author of the Azure/azure-functions-eventhubs-extension#56 . He said that the PR should be closed since he imiplemented it on webjobssdk side. We can use the retry feature for the Kafka as well.  I'll test it and confirm if it works. However, in theory, it should work. :)

[2020-11-10 19:21] TsuyoshiUshio commented on #122
Hi @maxbog  and @mcollier
It works for Kafka Trigger as well, however, the issue is, the retry is supported on `Microsoft.Azure.WebJobs`  3.0.23.  I need to update the version. I'll do it soon. Before that, you can add WebJobs on your csproj file. I'll upgrade the kafka version to fit 3.0.23 soon.

[code]

[2020-11-10 21:26] TsuyoshiUshio commented on #122
Hi @maxbog @mcollier
I have an update. The Microsoft.NET.Sdk.Functions is updated. It includes WebJobs 3.0.23 So we can go with

[code]

[2020-11-16 18:54] amotl opened #193 "Upgrade to Confluent.Kafka 1.6.0"
Dear @TsuyoshiUshio, @fbeltrao and @ryancrawcour,

thanks again for upgrading to Confluent.Kafka 1.5.2 (#185). Nevertheless, we still saw some partitions occasionally stalling on the consumer side, even after applying all of the mitigations outlined at https://github.com/edenhill/librdkafka/issues/3109.

However, after just moving on to v1.6.0-PRE3, things appear to be really smooth now, see also

[2020-11-16 18:56] amotl commented on #181
Dear @TsuyoshiUshio,

having a respective example at hand would be really helpful for us. Do you think you can afford the time to churn out something into the direction outlined above?

With kind regards,
Andreas.

[2020-11-17 19:38] TsuyoshiUshio commented on #193
Hi @amotl
Thank you, once it is released, I'll update it.

[2020-11-18 21:06] gliljas commented on #172
This is addressed in #179, and all the other nullable attribute parameters are fixed in #175

[2020-11-19 23:56] TsuyoshiUshio commented on #193
Hi @amotl
Can I ask you a question?
1. How can we reproduce the issue? EventHubs will cause the issue?
2. How exactly the log from libkafka we are going to see?
Some of users look hit this issue, however, I can't have a confidence.

[2020-11-20 05:23] TsuyoshiUshio opened #197 "GroupCoordinator: *.*.*.*:9092: 1 request(s) timed out: disconnect with Azure Backed Service"
The problem here is that Azure network loadbalancing components silently drop idle network connections after 4 minutes.

I upgrade to Confluent 1.5.2. to solve this issue, however, it still remains. It looks solved by 1.6.0-PRE3+.

https://github.com/edenhill/librdkafka/issues/3109
https://github.com/Azure/azure-functions-kafka-extension/issues/193

I can reproduce the issue with EventHubs with 5

[2020-11-20 07:48] amotl commented on #197
Dear Tsuyoshi,

can you confirm this is really coming from the infamous idle network connection drops by Azure LBs? Have you been able to reproduce it with librdkafka 1.6.0-PRE3+ or even 1.6.0-PRE4+?

From reading at the librdkafka issue tracker, you might want to run the client with `debug=all` in order to get more detailed insights.

While I can't say for sure this is related, I am also referenc

[2020-11-20 08:02] TsuyoshiUshio commented on #197
Thank you for your comment. @amotl . I mean I reproduced with 1.5.2.   1.6.0-PRE4 looks good. How can we confirm the issue happens that you mentioned?

[2020-11-20 08:27] amotl commented on #193
Dear Tsuyoshi,

thanks for asking. I want to apologize that I can't really provide any more detailed insights. We have neither a repro nor any logs available and just upgraded to the most recent version of librdkafka in a trial-and-error manner. What I can tell you is about the symptoms we experienced and more details about our environment.

We are using [confluent-kafka-python](https://github.com

[2020-11-20 08:34] amotl commented on #197
Dear Tsuyoshi,

ah, I see.

I want to apologize that I can't contribute much to your question, with respect to pinpointing to a specific aspect. However, I tried to share more details about our environment and respective observations at https://github.com/Azure/azure-functions-kafka-extension/issues/193#issuecomment-731021811.

As outlined there, we have been approaching to mitigate this issue in

[2020-11-20 16:33] TsuyoshiUshio commented on #193
Thank you for sharing! It helps!

[2020-11-22 22:59] TsuyoshiUshio commented on #181
Hi @amotl
It is not isolated sample, however, I wrote E2E testing for the python function as well.
The Python functions part includes E2E testing with output bindings.

https://github.com/Azure/azure-functions-kafka-extension/pull/199
https://github.com/Azure/azure-functions-kafka-extension/tree/tsushi/e2elanguage/test/Microsoft.Azure.WebJobs.Extensions.Kafka.LangEndToEndTests/server/python38/kafk

[2020-11-27 11:50] amotl commented on #181
Dear Tsuyoshi,

thanks a bunch for providing these examples on behalf of e2e tests.

With kind regards,
Andreas.

[2020-12-01 18:56] TsuyoshiUshio opened #201 "Support KafkaEventData.Key for Java"
# Issue

If we want to use `KafkaEventData.Key`, it will requires to define your function parameter with the type that has two generic types with  `KafkaEventData<string, string>`.

[code]

However,  from the other language implementation, there is not way to set `KafkaEventData<string, string>` type.
So that it is considered as `required key`  is false.

https://github.com/Azure/azure-functions-k

[2020-12-02 16:36] chadwillson opened #202 "HttpTrigger Kafka Needs to Support Config Settings Replacement for Ssl parameters"
Hello,

Ssl Config substitutions do not work on the HttpTrigger with Kafka. You need to hardcode. This is a huge config issue. The do work in the KafkaTrigger.

           [HttpTrigger(AuthorizationLevel.Function, "post", Route = null)] HttpRequest req,
           [Kafka(
                "ProdBroker",
                "%ProdTopicEvents%",
                **SslKeyLocation = "%SslKeyLocation%",

[2020-12-02 17:25] TsuyoshiUshio commented on #202
Thank you for the feedback.  I found the spot.

https://github.com/Azure/azure-functions-kafka-extension/blob/d6ddb6c48a4ad3e6e765fe0123b76b7f677f0bb2/src/Microsoft.Azure.WebJobs.Extensions.Kafka/Output/KafkaProducerFactory.cs#L127-L130

We need to do like this.
https://github.com/Azure/azure-functions-kafka-extension/pull/153/files

[2020-12-17 00:58] smitty-codes opened #207 "How to Zstandard compress events with output binding"
Setup:

- Using confluent cloud, their schema registry and Avro for the serialization
- Confluent Cloud sets all topics to compression.type=producer (producers must compress prior to sending, kafka cluster does no compression)

After my AF code has processed an event, it creates a new event (another ISpecific Avro POCO) and I need to "pass on" this event to another topic but have this new event ZS

[2020-12-22 14:17] nachoge opened #208 "manual installation of kafka extension failed"
Hi, I'm following your docs on how to install the kafka extension but nothing happends...

following: https://github.com/Azure/azure-functions-kafka-extension/tree/master/samples

I'm working with centos 8 anf java 11
right now having installed
azure-cli-2.16.0-1.el7.x86_64
dotnet-sdk-5.0-5.0.100_rc.2.20479.15-1.x86_64
dotnet-runtime-5.0-5.0.0-0.8.0201202git337413b.el8_3.x86_64
dotnet-host-5.0.0-0

[2020-12-22 21:40] TsuyoshiUshio commented on #208
Hello @nachoge
Could you try to remove "extensionBundle" part?  then try func install again?
Kafka extension is not included by the extension bundle.

This is an example (this is for Debian/Ubuntu based, however, you can refer the host.json.

## Readme
https://github.com/Azure/azure-functions-kafka-extension/tree/dev/samples/java
## host.json
https://github.com/Azure/azure-functions-kafka-extensio

[2020-12-24 11:26] nachoge commented on #208
Hi, I've also tried it and a error message happend

host.json
{
  "version": "2.0"
}

result

Could not execute because the application was not found or a compatible .NET SDK is not installed.
Could not execute because the application was not found or a compatible .NET SDK is not installed.

Possible reasons for this include:
Possible reasons for this include:
  * You intended to execute a .NET pr

[2021-01-04 10:50] shaunco commented on #63
#170 has been merged since Dec 2nd, but there hasn't been a new build since Oct 23rd. Can we get a new build posted to NuGet?

[2021-01-04 17:44] TsuyoshiUshio commented on #208
Hi @nachoge
You look using .net 5 sdk. However, Azure Functions doesn't support it (currently).
Could you try 3.1 instead? Also you can refer the Dockerfile (for Debian) in case you've got other errors.

These Dockerfile might be a good example.
* java11-appservice.Dockerfile
* java11-core-tools.Dockerfile

https://github.com/Azure/azure-functions-docker/tree/master/host/3.0/buster/amd64/java/java

[2021-01-04 17:58] nachoge commented on #208
Hi @TsuyoshiUshio,

Thanks I will give you a feedback as soon as possible!

[2021-01-05 10:05] snehayadavv opened #209 "Need help in connecting to secure cluster topic"
I am using azure function kafka extension in my project in javascript.
I am creating a consumer that would listen to already existing kafka topic(secure cluster). To access this topic I have a ca_cert.crt certificate.
I am getting this error while running the code:
..../bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to

[2021-01-05 22:29] TsuyoshiUshio commented on #209
Hi @snehayadavv

This is a python sample, however might similar to your case.
https://github.com/Azure/azure-functions-kafka-extension/blob/dev/samples/python/KafkaTriggerMany/function.json_

For the root certificate configuration, you can refer Java sample. Java write is as annotation, however, it is converted to function.json so that you can add `sslCaLocation`  to your function.json.

https://g

[2021-01-06 14:38] snehayadavv commented on #209
**My function.json looks like :**
{
  "bindings": [
    {
            "type": "kafkaTrigger",
            "name": "event",
            "direction": "in",
            "topic": "payload-events",
            "brokerList": "kafka......:9093",
            "consumerGroup" : "functions",
            "dataType": "binary" ,
            "password" : "",
            "protocol" : "SSL",
            "sslCaLoca

[2021-01-06 17:25] TsuyoshiUshio commented on #209
Could you specify a specific cacert file to the sslCaLocation? It looks directory. For example,

"sslCaLocation" : "/YOUR_PATH/confluent_cloud_cacert.pem"

[2021-01-06 18:06] snehayadavv commented on #209
Hey, It is not a directory.
Imported the certificate in keystore using the following command.
sudo keytool -import -trustcacerts -alias certificates -file “ca_cert.crt " -keystore "/Users/sneha/Library/Java/JavaVirtualMachines/corretto-11.0.8/Contents/Home/lib/security/cacerts" -noprompt -storepass changeit
And then given this path in function.json
Correct me if I am wrong.

[2021-01-06 18:22] TsuyoshiUshio commented on #209
You don't need to import via keytool.

You can specify it like following

"sslCaLocation": "/YOUR_PATH/ca_cert.crt"

Could you try it?

[2021-01-06 18:52] snehayadavv commented on #209
After setting the property like this:

"sslCaLocation": "/Users/sneha/Downloads/ca_cert.crt"
no error is shown.
Still I am not getting anything in console as expected

**my index.js looks like this**

module.exports = async function (context, event) {

    const dec = new string_decode('utf-8');

    let event_str = dec.write(event);

    context.log.info(`JavaScript Kafka trigger function called

[2021-01-08 16:14] snehayadavv commented on #209
Hi @TsuyoshiUshio!
I tried with the following json again and like before no error is coming. Looks like it is getting connected to kafka broker but we are not getting any msgs.

{
  "bindings": [
    {

            "type": "kafkaTrigger",
            "name": "event",
            "direction": "in",
            "topic": "payload-events",
            "brokerList": "kafka...9093",
            "consume

[2021-01-09 23:57] TsuyoshiUshio commented on #209
# 1. Debug
You can configure debug using `host.json`  configuration parameter.  `log.Level` and for more detail debug of the librdkafka library, you can configure `LibkafkaDebug`

* [host.json reference for Azure Functions 2.x and later](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)
* [Configuration (refer to debug)](https://github.com/edenhill/librdkafka/blob/master/

[2021-01-22 07:06] sidsingh9 commented on #209
Hi @TsuyoshiUshio

It seems this is not a problem with the certificate.

- We are able to connect to local kafka(localhost) without any issue and getting all the messages
- When we are connecting to any other server in our organisation (in stage/ prod env). We are getting the below logs
- It seems that our function is able to connect to kafka but not able to get the messages . Also is there any ot

[2021-01-22 19:39] TsuyoshiUshio commented on #209
I come up with two ideas.

1. Could  you separate the durable code? testhubname-control-00 ... is durable functions message. only `Assigned partitions: [test-events [[0]], test-events [[1]], test-events [[2]]]` message is kafka one. It is for narrowing it down.
2. Could you set LibkafkaDebug configuration? then you will see more messages.
3. Could you see the log of the broker side?
4. Do we need

[2021-01-23 00:02] TsuyoshiUshio commented on #209
I create a sample for targeting EventHubs, that requires username, password, sasl . It might help. https://github.com/TsuyoshiUshio/KafkaTemplateSamples/tree/eventHubs

[2021-01-26 08:55] nachoge opened #212 "Parameterizing Annotations"
Hi,

First, my last issue was about having problems adding the kafka extension this one was addressed by down grading the dotnet runtime from 5 to 3 which is ok.

Right now I ned to  parameterizing annotations in order to work in different environments. Is ther a way to accomplish this -by having properties files or sommetyhing-?

@KafkaOutput(
                name = "kafkaOutput",

[2021-01-29 02:10] bm77525-kr opened #213 "Kafka headers not accessible in function app"
I'm running a typescript/javascript function app using version `3.3.1-PRE2` of the extension, and the header data does not appear to get passed to the function being executed. I had expected this to perhaps be on the function context binding data, but from what I can see, `KafkaTriggerBindingStrategy` doesn't have a headers property attached. Is this where it was intended to be accessed from when

[2021-01-29 04:53] TsuyoshiUshio commented on #213
Thank you for the reporting.  It might be an influence of this PR. I'll have a look. https://github.com/Azure/azure-functions-kafka-extension/pull/170/files

[2021-02-02 18:22] MuhamedSalihSeyedIbrahim opened #214 "Question related to Kafka trigger and azure functions(NodeJs)?"
Hi Team,
I am new to kafka extension nodejs azure functions Triggers.

I Want to be clarified before using it in our application,

I am having these following questions:-
1. Is this kafka trigger extension for(nodejs) azure funtion prod ready?
2. Max data holding capacity of kafka?
3. Function app kafka extension - how much data can it receive and process in (nodejs) function app ?
4. How many par

[2021-02-02 18:39] TsuyoshiUshio commented on #214
Hi @MuhamedSalihSeyedIbrahim

Could you move this issue to discussion?
 https://github.com/Azure/azure-functions-kafka-extension/discussions

[2021-02-02 18:44] TsuyoshiUshio commented on #212
Hi @nachoge
We can use the appsetting to configure these parameters, however, we can't change it dynamically.

If you want to sore these data on appsettings or local.settings.json.  For brokerList is already support the appsettings,
so that if you write borkerList="borker" then you can configure appsettings or local.settings.json like this.

This is an example.
https://github.com/TsuyoshiUshio/Kaf

[2021-02-02 20:58] MuhamedSalihSeyedIbrahim commented on #214
@TsuyoshiUshio yes sure, i have created a QA for discussion
Link: https://github.com/Azure/azure-functions-kafka-extension/discussions/215

[2021-02-02 20:58] #214 closed

[2021-02-03 18:35] rkbalu commented on #142
@rahulroy1 We are using this in the production environment and is stable as equivalent to EventHub Trigger. The pattern we follow is if for some reason you can't sink(apply to target successfully), we write the failed event to the Azure Table Storage. We have a separate Replay mechanism using the Azure Durable function (fan-out) pattern to replay the same message and apply to target.

Hope this he

[2021-02-10 23:29] smitty-codes opened #217 "support producer settings compression.codec and linger.ms for output binding"
Full explanation in #207 but please add support for compression.codec and linger.ms from the Confluent library which would allow us to micro-batch and compress messages as outputs to other topics.

Why?
For our company, these 2 missing settings inevitable increase our costs with Confluent Cloud because Confluent charges by GB written/read (ingress/egress). The messages being written "raw"/uncompre

[2021-02-10 23:52] TsuyoshiUshio commented on #207
Hi @smitty-codes
Thank you for bringing up!  As for `[Kafka("LocalBroker", "stringTopic")] out KafkaEventData<string>[] kafkaEventData` It might be difficult, since it is the feature of Azure Functions Host and consistency with other bindings. However, for the compression, we can start discussing it. It is good for you to add configuration for `CompressionType.Zstd` and `ProducerConfig.LingerMs`?

[2021-02-10 23:53] TsuyoshiUshio commented on #217
We can discuss at #207 :) Thank you for reminding!  @smitty-codes

[2021-02-10 23:54] #217 closed

[2021-02-11 00:26] smitty-codes commented on #207
@TsuyoshiUshio
Yes being able to use CompressionType.Zstd and set ProducerConfig.LingerMs in the Kafka attribute is what I'm looking for.

These are the 2 important settings to optimize for throughput (see the Confluent PDF document > page 27 I posted above). There are other settings you may consider for optimize for latency, durability and availability in that document.

[2021-02-11 06:28] TsuyoshiUshio commented on #207
Hi @smitty-codes
I create a draft pr. feel free to add comment.

[2021-02-11 19:01] nachoge opened #219 "librdkafka.dylib not found on osx."
Hi,

I've followed the instructions for linux and they wrok perfectly. -adding LD_LIBRARY_PATH...-

Now we have another box running osx and the library are not found:

defining LD_LIBRARY_PATH and osx DYLD_xxxx  variables neither resolves the problem.

when issued brew install librdkafka the version 1.6.0 is installed. Then found and a version error is happening.

Which is the current version of l

[2021-02-12 02:39] TsuyoshiUshio commented on #219
Hi did you find dll or native library under the bin/runtime directory?

[2021-02-12 08:10] TsuyoshiUshio commented on #219
It is because of the mac os runtime protection. https://stackoverflow.com/questions/35568122/why-isnt-dyld-library-path-being-propagated-here.
I tested my mac, in my case, `brew upgrade openssl` solved the problem. (no need to add DYLD_xxx) I found the workaround on the issue of https://github.com/confluentinc/confluent-kafka-dotnet/issues/778#issuecomment-464129983

[2021-02-17 17:34] felipelino commented on #35
Instead of having a "hard-coded" schema inside the application, the idea is to use a remote registry.
My company uses this approach so we have a remote repository with all contracts exchange between our systems.
It would be very helpful to see this feature available on the extension.

https://docs.confluent.io/platform/current/schema-registry/schema_registry_onprem_tutorial.html#schema-registry-on

[2021-03-12 22:37] rkbalu commented on #142
closing this ticket as answer has been given.

[2021-03-12 22:37] #142 closed

[2021-03-16 22:58] lilleman12 opened #222 "Trigger will not scale down as expected"
When having multiple partition the trigger will scale up on high load but will not scale down on low load. The trigger will ask the instance/host to scale down but as we continusly get new messages at low rate the instance/host will think that we are still active and will not scale down. This is a confirmed bug by Microsoft in the host software and is in the roadmap somewhere.

In the mean time th

[2021-03-16 23:02] rkbalu commented on #183
@TsuyoshiUshio - The current default value is 5sec as per librdkafka configuration. Does this mean any consumer must be able to process the message (Say batch size is 64) tin 5 sec to avoid data loss?

[2021-03-17 00:15] TsuyoshiUshio commented on #222
Thank you, @lilleman12

According to this logic, https://github.com/Azure/azure-functions-kafka-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Kafka/Listeners/KafkaTopicScaler.cs#L235

Current logic will be

Scale In happens...
     1. The number of the works exceed the number of the partition
     2. All partition doesn't have messages
     3. Decrease trend of messages

In this case,

[2021-03-18 12:57] smitty-codes opened #225 "KafkaEventData<TKey, TValue> support for Avro Keys"
Given this function
`public static void InvoiceConsumer(
        [KafkaTrigger(Configs.BrokerList,
            "invoice",
            ConsumerGroup = "azfunc",
            Protocol = Configs.Protocol,
            AuthenticationMode = Configs.AuthenticationMode,
            Username = Configs.UserName,
            Password = Configs.Password)]
        KafkaEventData<MyTopicKey, Invoice>[] incomingE

[2021-03-18 17:12] smitty-codes opened #226 "How does scaling work when deployed as an Azure Function within Azure App Service?"
Hello. We would like to deploy an AF utilizing this library to our Azure App Service plan instead of deploying to an AF Premium plan. How does the scaling of this AF using this library work when hosted inside Azure App Service plan? Does it run as a singleton instance or does it create more instances when the single instance starts to lag behind?

I am aware of being able to scale up or out the en

[2021-03-18 19:37] TsuyoshiUshio commented on #226
Azure App Service Plan doesn't have a good scaling feature. The App Service Plan scaler doesn't see the kafka related metrics. It sees general metrics, like CPU, Memory, Socket, Storage for example. Azure Functions Scales with workers. That mean, We don't scale in a worker.
![image](https://user-images.githubusercontent.com/1390976/111686625-80ea5200-87e6-11eb-800d-f38e29ed8fd9.png)

[2021-03-18 19:56] TsuyoshiUshio commented on #225
It looks only allowed the basic types. https://github.com/confluentinc/confluent-kafka-dotnet/blob/dddfb9313fc9b01c16c81ccd28766218b60c3900/src/Confluent.Kafka/Consumer.cs#L54-L64

Probably, here is the fix, however, I need to do experiment. https://github.com/confluentinc/confluent-kafka-dotnet/blob/dddfb9313fc9b01c16c81ccd28766218b60c3900/src/Confluent.Kafka/ConsumerBuilder.cs#L263

[2021-03-19 17:12] smitty-codes commented on #226
@TsuyoshiUshio thanks - this is what we had concluded having to scale the entire app service plan.

[2021-03-20 02:20] Arkatufus opened #227 "How do I setup output binding to EventHub?"
Hi,
I'm trying to use Kafka output binding to connect to EventHub from Azure Functions, I tried the one described in the sample directory:
[code]

but i'm getting this error:
[code]

From the EventHub page, it looks like I need to add this jaas attribute to the kafka consumer:
[code]

Is there a way to do output binding without having to use a ca cert or to inject the attribute into the `KafkaAttr

[2021-03-22 16:07] Arkatufus commented on #227
Turns out it was all my own fault, I tried to connect to Event Hub using a connection string that only has a listen rights.
Sorry for all the trouble.

[2021-03-22 16:07] #227 closed

[2021-03-24 18:36] rkbalu commented on #219
@TsuyoshiUshio I'm getting the same issue on the Mac M1.  openssl does not seems to solve this issue. Any workaround?

[2021-03-24 19:23] TsuyoshiUshio commented on #219
Hi @rkbalu
I don't have M1 mac, so that I can't test it, however, how about this.

[code]

[2021-03-25 18:39] rkbalu commented on #219
@TsuyoshiUshio - Thanks for quick response. But, still failing though! I can see the library under the bin after the build.

[2021-03-25 22:12] TsuyoshiUshio commented on #219
Other investigation is  do the command. (adopt the pass that you have the librdkafka.so) and find missing library.

[code]
It shows the dependency and you might find what is missing.

[2021-03-27 04:49] TsuyoshiUshio commented on #193
Done the upgrading. https://github.com/Azure/azure-functions-kafka-extension/releases/tag/3.3.1

[2021-03-27 04:49] #193 closed

[2021-04-20 08:52] sidsingh9 opened #236 "Unable to read messages from kafka"
I am not getting the messages from kafka. The partitions are getting assigned as visible from application log as well as kafka queries so there doesnt seem to be any network issue. But messages are not flowing. (Also this thing works when i connect to my local kafka). Is there a way to get more logs or debug further in this

{
  "bindings": [
    {
            "type": "kafkaTrigger",
            "

[2021-04-20 08:55] maxbog commented on #236
We have a similar problem. Are you by any chance using Confluent Cloud to host the topics?

[2021-04-20 09:01] sidsingh9 commented on #236
No we use azure servers for our kafka

[2021-04-20 14:33] TsuyoshiUshio commented on #236
Hi @sidsigh9 and @maxbog
Thank you for sharing, Which Kafka Extension Version do you use? Also Which Kafka broker do you use? If you add `LibkafkaDebug` on your `host.json` it might help to investigate. Refer to the configuration options. The [debug](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) is the one.

[code]

[2021-04-20 14:43] sidsingh9 commented on #236
This is the host.json I was using
{
  "version": "2.0",
  "logging": {
    "logLevel": {
      "Function.MyFunction": "Debug",
      "default": "Debug"
    }
  },
    "extensions": {
      "kafka": {
        "MaxPollIntervalMs": 900000,
        "MaxBatchSize": 100,
        "AutoCommitIntervalMs": 200,
        "MetadataMaxAgeMs": 180000,
        "SocketKeepaliveEnable": true,
        "SubscriberInt

[2021-04-20 15:12] sidsingh9 commented on #236
Trid with extension version 3 as well

[2021-04-20T15:09:30.060Z]  Microsoft.Azure.WebJobs.Host.Config.IExtensionConfigProvider: Implementation: Microsoft.Azure.WebJobs.Extensions.Kafka.KafkaExtensionConfigProvider, Lifetime: Singleton
[2021-04-20T15:09:30.060Z]  Microsoft.Extensions.Options.IConfigureOptions`1[[Microsoft.Azure.WebJobs.Extensions.Kafka.KafkaOptions, Microsoft.Azure.WebJobs.Extensi

[2021-04-21 02:20] TsuyoshiUshio commented on #236
The debug feature is introduced from this release. https://github.com/Azure/azure-functions-kafka-extension/releases/tag/3.2.1 Could you try the latest or 3.2.1 release, then, you can find more logs.

[2021-04-21 04:25] sidsingh9 commented on #236
Some issue here with the offset. Since this was a new consumer group with no OFFSET stored i also tried running a console consumer with the same groupid to set some offset but still getting the same log

[2021-04-21T04:04:51.635Z] Libkafka: [thrd:main]: GroupCoordinator/60900068: OffsetFetchRequest(v1) for 3/3 partition(s)
[2021-04-21T04:04:51.635Z] Libkafka: [thrd:main]: GroupCoordinator/60900068

[2021-04-21 04:25] sidsingh9 commented on #236
Some issue here with the offset. Since this was a new consumer group with no OFFSET stored i also tried running a console consumer with the same groupid to set some offset but still getting the same log

[2021-04-21T04:04:51.635Z] Libkafka: [thrd:main]: GroupCoordinator/60900068: OffsetFetchRequest(v1) for 3/3 partition(s)
[2021-04-21T04:04:51.635Z] Libkafka: [thrd:main]: GroupCoordinator/60900068

[2021-04-21 06:37] sidsingh9 commented on #236
[logsKafka-3.3.2.txt](https://github.com/Azure/azure-functions-kafka-extension/files/6348564/logsKafka-3.3.2.txt)
LOgs with latest version

[2021-04-21 06:43] sidsingh9 commented on #236
[logsKafka-3.3.2.txt](https://github.com/Azure/azure-functions-kafka-extension/files/6348601/logsKafka-3.3.2.txt)
Latest version log

[2021-04-21 16:27] TsuyoshiUshio commented on #236
I have some questions. It looks KafkaTrigger it's self is working and connected to the cluster. However, no offset until now.
Did you try to run client (consumer/producer) against the broker and make sure it works?  Did you find interesting log on your broker side?

[2021-04-21 16:35] sidsingh9 commented on #236
yeah i tried the console consumer or a java consumer and it works. Will try to get the broker logs and see if there is anything weird there.

[2021-04-22 05:54] TsuyoshiUshio commented on #236
Thank you for sharing! I'll investigate more. BTW, Which broker version do you use?

[2021-04-22 10:08] sidsingh9 commented on #236
Kafka Version : 1.1.1
by console consumer i meant
~/Downloads/kafka_2.11-2.4.0/bin/kafka-console-consumer.sh --topic test --bootstrap-server kafka.prod-xxxxxx:9092

[2021-04-23 04:58] sidsingh9 commented on #236
Tried  a c# program with https://github.com/confluentinc/confluent-kafka-dotnet as well and its working fine

[2021-04-23 05:02] sidsingh9 commented on #236
[2021-04-23T05:00:43.244Z] Libkafka: [thrd:main]: Group "azurefunctions123": unassign done in state up (join state wait-join): without new assignment: OffsetCommit done (__NO_OFFSET)
[2021-04-23T05:00:43.445Z] Libkafka: [thrd:main]: OffsetCommit for -1 partition(s): cgrp auto commit timer: returned: Local: No offset stored
[2021-04-23T05:00:43.445Z] Libkafka: [thrd:main]: Group "azurefunctions123"

[2021-04-23 07:27] sidsingh9 commented on #236
[brokerlogs.txt](https://github.com/Azure/azure-functions-kafka-extension/files/6363502/brokerlogs.txt)
didn't find anything weird in broker logs

[2021-04-26 04:46] sidsingh9 commented on #236
@TsuyoshiUshio Anything else that we can check here ?

[2021-04-26 21:34] scornfield-chrw opened #237 "Add support for client.rack setting"
We want to use this trigger for consumers on a multi-region kafka topic, which requires use of the client.rack setting to specify which region a particular consumer should consume from.

This is supported by the Confluent ConsumerConfig via inherited member ClientConfig.Rack: https://docs.confluent.io/platform/current/clients/confluent-kafka-dotnet/_site/api/Confluent.Kafka.ClientConfig.html#Confl

[2021-04-27 16:02] bm77525-kr commented on #213
Is there any fix in the works for this? It seems a shame that all the work was done to support headers but we can't actually use them because passing them to the actual function wasn't implemented.

[2021-04-28 00:30] collin-swift opened #238 "the notes for premium linux App service are not correct"
https://github.com/Azure/azure-functions-kafka-extension#linux-premium-plan-configuration

The above doc suggests:
/home/site/wwwroot/bin/runtimes/linux-x64/native

when running on a Linux Premium Isolated ASE the correct path is:
/home/site/wwwroot/runtimes/linux-x64/native

[2021-04-28 00:48] TsuyoshiUshio commented on #238
interesting, @pragnagopa  do you know if there is differences between ASE and non-ASE?

[2021-04-29 04:48] TsuyoshiUshio opened #239 "Enabling connection max idle ms"
https://github.com/confluentinc/confluent-kafka-dotnet/issues/1544

We have Azure Load Balancer issue for getting timeout.
For avoiding it, we can set the `connection max idle ms` as less than 4 min.
Once the new version of the librdkafka is released and Confluent.Kafka is released,
I'd like to update the version and release the new version.

[2021-05-03 18:08] TsuyoshiUshio commented on #236
Hi @sidsingh9
Could you add the  `consumer,cgrp,topic,fetch` to the debug in addition to `broker`? The debug message looks not wrong. The other configurable parameter is [configuration](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) see debug section.
If we can't find anything, we can post the question on https://github.com/edenhill/librdkafka/issues

[2021-05-12 08:05] maxbog commented on #226
@TsuyoshiUshio is the same true for App Service Environment? We want to have function apps running inside our private network and we are investigating whether we need K8s cluster with KEDA or is autoscaling supported on App Service Environment?

[2021-06-11 14:52] andrediasbr commented on #213
@TsuyoshiUshio, Any update here?

[2021-06-18 14:07] artursokhikyan commented on #202
hi. is there an update on this one? This is a big problem that makes this output binding unusable if your cluster uses certs. @chadwillson - did you manage to find a walkaround for configuring different environments?

[2021-06-18 21:25] chadwillson commented on #202
Hi @artursokhikyan,

We hardcoded the variables per environment and are awaiting the update outlined by @TsuyoshiUshio.

It is a big pain and not defensible in code reviews. We are using this in production.

Chad

[2021-06-18 21:34] TsuyoshiUshio commented on #202
Hi @chadwillson , @artursokhikyan

The change will be very simple, however, just need to test it.  I'd happy to include this as the next release.
However, I can't promise when I'll finish it. If you guys are ok, could you contribute it? the change is very simple and small that I just explained above. Or I'll do it before the next release.

[2021-06-19 04:30] TsuyoshiUshio opened #247 "Kafka Extension Bundle doesn't work with Azure and Local"
I provided Kafka Extension Bundle template and template for Visual Studio. However, I found one issue. You can use template to generate Kafka extension code and configuration.

# Problem

I found kafka extension bundle template doesn't work on Azure.
I already submit pull requests. However, I'd like to share the workaround.

The problem is, I use `Password` as AppSettings to substitute the value o

[2021-06-21 18:54] nagendra-subramanyam commented on #236
Unable to consume the confluent kafka messages from azure function apps.

[Kafka-Consume-FuncApp-log.txt](https://github.com/Azure/azure-functions-kafka-extension/files/6688842/Kafka-Consume-FuncApp-log.txt)

[2021-06-29 00:32] TsuyoshiUshio commented on #247
Related.
https://github.com/Azure/azure-functions-core-tools/issues/2613

[2021-07-09 16:02] tech7857 commented on #183
Hello @TsuyoshiUshio

any timeline on this enhancement? We also have a need for functionality where to read the same message again if it failed in any way while processing.

Thanks

[2021-07-10 23:10] TsuyoshiUshio commented on #183
Probably, most of the case, we don't need to set auto commit to false.  We have Retry policy https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies-preview. Combined with this retry policy, what happens is,

1. Kafka Extension read the messages from a broker
2. Try Execute your function, if it throws exception, it will replay according to t

[2021-07-10 23:48] tech7857 commented on #183
Thanks for replying..

If in step 2 , we are unable to process the message because of any reason
maybe message is bad or application error, we dont want that message to
commit if retry also exhausted, so what should be done to stop commit of
that message?

On Sat, Jul 10, 2021 at 7:10 PM Tsuyoshi Ushio ***@***.***>
wrote:

[2021-07-11 00:06] tech7857 commented on #183
@TsuyoshiUshio

Thanks for replying..

If in step 2 , we are unable to process the message because of any reason
maybe message is bad or application error, we dont want that message to
commit if retry also exhausted, so what should be done to stop commit of
that message and further processing?

Thanks

[2021-07-11 04:36] TsuyoshiUshio commented on #183
Through the discussion, what you want is, the feature that is not commit if the exception thrown, right?

It is possible, however, currently we are designing the exception handling as the same as EventHubs extension. https://docs.microsoft.com/en-us/azure/azure-functions/functions-reliable-event-processing#how-azure-functions-consumes-event-hubs-events

I need to discuss with @apawast .  What do y

[2021-07-11 11:44] tech7857 commented on #183
@TsuyoshiUshio

Yes, this is correct. If there is an exception we dont want to commit and halt the process.

it is very imp feature for our implementation. Please let us know the feasibility of implementation and when you think can be implemented.

thanks

[2021-07-15 20:03] bm77525-kr opened #249 "Offset commit errors causing topics to restart from earliest offset"
Occasionally we see an issue in our function app logs with this error:

[code]

Obviously there was some error committing an offset, but the problem is that when we restart the function app after this, we start getting events from the earliest offset for the topic. This has bit us since it can be tens of millions of old events that take a long time to catch up. If the extension is auto-committing

[2021-07-25 20:56] OlivierTD opened #250 "KafkaTrigger Azure Functions Channel is full?"
We have a k8s cluster that has 6 KafkaTrigger azure functions listening to 6 partitions. We have a time limit to consume all the messages produced on the topic were listening to.

After a little bit of time, our azure functions log this message:
**"Channel ********* / 3 / 107 is full, waiting for the function execution to catch up"**

Right now, we can handle about 1k messages / min. This morning

[2021-07-27 17:19] TsuyoshiUshio commented on #250
Hi @OlivierTD

For the message, means message is coming but, functions execution is not catching up.  So that you might need to increase the ability to execute the messages. In your case, your code looks working in Single Mode. It worth trying Batch Mode by using KafkaEventData<K, V>[]  then you can consume several messages at a time.

Single Mode/Batch Mode
https://tsuyoshiushio.medium.com/azure-

[2021-07-27 17:52] TsuyoshiUshio commented on #249
Hi @bm77525-kr
The max scaling will be the same as the number of the partitions.  If you want to increase the capacity, increase the number of the partition.

You can also set cardinality as Many if you want to use Batch mode.  It might helps to increase the throughput.

[code]

Currently, we use AutoOffsetReset.Earliest. Hi @fbeltrao  Do you know the context that we don't make it configurable?

[2021-07-27 18:00] TsuyoshiUshio commented on #250
Also you can increase the capacity of the Channel if you want. Refer to Channel in here. https://tsuyoshiushio.medium.com/azure-functions-kafka-trigger-performance-tips-concept-and-architecture-ec94a31d8b93

[2021-07-27 18:10] TsuyoshiUshio commented on #249
https://github.com/Azure/azure-functions-kafka-extension/pull/216

[2021-08-05 21:40] tech7857 commented on #249
@TsuyoshiUshio -do you know when will this be released on Nuget?

[2021-08-05 21:43] tech7857 commented on #183
@TsuyoshiUshio - any update on this?

[2021-08-06 13:23] rajat-jmi opened #252 "Same Messages from Kafka is being picked again in next run of Azure Function and is resulting in Duplicates"
We have created a Azure Function on lines of Simple Kafka Trigger. We are using Batch Mode for processing multiple messages in 1 go and found same messages are being picked across multiple Azure Function runs.

Can you suggest some settings in host.json or code with which only unique messages are picked in next Azure Function Runs. Please refer enclosed code file for Azure Function. Kindly review

[2021-08-12 01:07] guojian83 commented on #236
Hi,
Just an FYI.
I had similar issues on windows. It only worked once out of 10 or 20 runs. However, when i ran the exact same code on mac it worked without any issues at all.

[2021-08-13 21:56] tech7857 opened #254 "Azure Function runtime is not reachable"
Hi @TsuyoshiUshio - we have a function app vnet connected in premium plan with the kafka trigger. When the message intake is high , I am seeing the error that the Azure function runtime is not reachable and it stops reading messages but after some time again it starts to read and then the same error. It is happening frequently.

Do you have insights what might be causing this or how to go about fi

[2021-08-13 23:28] TsuyoshiUshio commented on #254
Could you share your function app name with me? https://twitter.com/sandayuu This is my twitter account, if you give me one, I can follow you. then can send message.

[2021-08-13 23:42] tech7857 commented on #254
@TsuyoshiUshio - I dont have a twitter account? Do you have an email on which I can send?

Thanks

[2021-08-13 23:45] TsuyoshiUshio commented on #254
tsushi at microsoft.com

[2021-08-13 23:45] TsuyoshiUshio commented on #254
If you sent it, I'll remove it.

[2021-08-13 23:48] tech7857 commented on #254
@TsuyoshiUshio - apologies I didnt understand this. Can you please help me understand.

[2021-08-13 23:49] TsuyoshiUshio commented on #254
I mean, I want to remove my e-mail address after you get my e-mail address to avoid spam.

[2021-08-13 23:51] tech7857 commented on #254
You can remove it

[2021-08-14 00:09] tech7857 commented on #254
@TsuyoshiUshio - done

[2021-08-14 05:44] TsuyoshiUshio commented on #254
We are discussing on offline. If we found  some tips for  share, I'd like to share in here.

[2021-08-14 13:01] tech7857 commented on #254
Absolutely

[2021-08-17 20:28] danielrobinson95 opened #257 "Autoscaling not working as expected"
I am working on performance testing our application and am having trouble with the concept of auto scaling.

We have a topic that is made up of 10 partitions and our Azure Function is on the premium plan. When I dump 50k messages in the topic, the most I'm able to get the function app to scale out to is 3 workers. If we have 10 partitions why isn't the function app scaling out to 10 workers?

Are

[2021-08-17 20:38] danielrobinson95 commented on #257
@TsuyoshiUshio

[2021-08-17 20:51] TsuyoshiUshio commented on #257
Did you set up Runtime Driven Monitoring?  This should be On.
![image](https://user-images.githubusercontent.com/1390976/129797809-c8508717-c1da-484e-bec1-cf4f69e7a87e.png)

Generally speaking, scaling is not only the partition. the number of the partition is upper limit.
Our scaling logic increase the worker according to the length of messages on the brokers. It is controlled by lagthreashold.
ht

[2021-08-17 20:56] rajat-jmi commented on #252
@TsuyoshiUshio Kindly suggest any resolution, say can increasing autocommit interval to say 2 sec can help?

[2021-08-17 23:27] danielrobinson95 commented on #257
I was missing that setting, thanks for pointing that out.

[2021-08-17 23:27] #257 closed

[2021-09-02 18:11] chidavearch opened #258 "Trigger configuration in Azure, certificate binding"
I have my trigger working locally but not clear on how to configure the certificate binding to run in Azure. Others have pointed out the problem with hard-coding. I'm not sure how to hard-code these values. The answer to this is obvious to everyone who's deployed a kafka trigger, right??

I'm getting the error:
Confluent.Kafka: ssl.certificate.location failed: error:140DC002:SSL routines: SSL_CTX_

[2021-09-09 14:14] chidavearch commented on #258
I got the answer by deploying a trigger that would output the trigger's context. Answer: C:\home\site\wwwroot\

[2021-09-15 14:04] #258 closed

[2021-09-15 14:04] chidavearch commented on #258
See my previous comment

[2021-10-04 20:44] TsuyoshiUshio commented on #252
Yes. it could happens. and adjusting auto commit helps. However, we can't avoid the duplication.

[2021-10-06 09:01] nachoge opened #259 "Kafka trigger in function app stops receiving -processing- messages randomly"
Hello,

We have a set of funtions apps with kafka triggers despite they work perfectly most of the time we are experiencing isses regularly.

We have messages -we know they exist- received at the kafka server -a standalone kafka server- but functions do not process them -seems the client is not connected. The Azure monitors says the function aapp is running, so the only way to wake-up is by reboot

[2021-10-11 22:28] tech7857 opened #260 "Retry causing bad data"
Hi @TsuyoshiUshio

we have a kafka trigger function app which reads the kafka message and input data in db.
Randomly we are seeing the kafka trigger retry itself(fixeddelaystrategy) for some messages and somehow it inserts few data elements which was processed long back successfully. Not sure how this is possible.

I am trying to debug but not able to figure out the cause. Do you have any thoughts

[2021-10-13 06:39] #260 closed

[2021-10-14 18:04] fsnader opened #261 "Using Application Insights Tracing"
Hi guys,
Do you know if is there any way to enable Azure Application Insights tracing propagation when using Kafka input and output bindings? I tried to find something in the docs, but couldn't find anything.

[2021-10-15 11:16] tech7857 opened #262 "Scale metrics issue"
Hi

we have a kafka trigger azure function in a elastic premium plan with run time scale monitoring on. We are frequently getting the below error logged in our application insights.

Failed to collect scale metrics sample for monitor xxxx. Category:Microsoft.azure.webjobs.script.scale.functionsscalemonitorservice

Please help us understand what does this error means and how to resolve it.

Thanks

[2021-10-15 17:25] derekrprice commented on #156
I ran into this too with JS functions.  Most of the other plugins substitute strings like `%VARIABLE%` in bindings with environment variable values.  This one apparently does not.  https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns

[2021-10-17 22:06] tech7857 commented on #262
@TsuyoshiUshio - can you please provide your thoughts on this.

thanks

[2021-10-18 00:21] TsuyoshiUshio commented on #262
Hi @tech7857  Could you share your function app name to my e-mail address? tsushi at microsoft dot com. (Once I received your e-mail, I'll remove my e-mail address)

[2021-10-18 00:26] TsuyoshiUshio commented on #261
Hi @Fsnader What would you want to get the logs? Do you want distributed tracing with Kafka Trigger/Output?
If so, which protocol do you need? HttpCorrelation context or[ W3C trace context](https://www.w3.org/TR/trace-context/)? [opentelemetry ](https://opentelemetry.io/)or not the distributed tracing?

[2021-10-18 00:33] TsuyoshiUshio commented on #259
I'm not sure why it stop processing, however, one thing you can do is enable debugging.  https://tsuyoshiushio.medium.com/azure-functions-kafka-trigger-performance-tips-concept-and-architecture-ec94a31d8b93 Coud you see the debug section? If you can't find anything for the details logs, and broker side . This looks similar one. https://github.com/confluentinc/confluent-kafka-dotnet/issues/1090

[2021-11-12 17:14] TsuyoshiUshio commented on #247
It solved by following version.
Azure Functions Core Tools
Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: 3.3.1.0

[2021-11-12 17:14] #247 closed

[2021-11-15 10:33] Rimast opened #266 "Headers missing from KafkaTrigger"
As per the documentation:

`
      public static string Run([KafkaTrigger("LocalBroker", "stringTopicTenPartitions",
        ConsumerGroup = "$Default", AuthenticationMode = BrokerAuthenticationMode.Plain)] string input,
        FunctionContext context)
{
 ...
}
`

Neither input or context parameters contain the headers.

n.b. in the previous, in-process version (Microsoft.Azure.WebJobs.Extensions

[2021-11-16 16:10] MichalLechowski opened #263 "How do I handle failures on message processing coming from Kafka?"
Hello,

as far as I can see there isn't any option to manually mark a message as processed correctly (Commit/CommitAsync?) and when a client (C# webjob) throws an error, the message is still commited and offset proceeds. Isn't that a road straight to losing messages on any failure on processing? Went through the docs and examples and I can't see anything about it.

My scenario is quite simple:
1)

[2021-11-24 01:58] smitty-codes commented on #208
@TsuyoshiUshio Is .NET 5 supported by this library now since AF support it? Is there a sample?

[2021-11-24 05:25] TsuyoshiUshio commented on #208
Yeah. Looks so. https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/Kafka/KafkaFunction.cs

[2021-11-24 11:57] MichalLechowski opened #264 "Failed to resolve URL, no such host known - when trying to establish secured connection to Kafka"
There is not much about setting up a secured connection to Kafka based on certs and passwords (called SSL, I believe). Could you help me out here a little? I have a .NET 3.1 WebJob (Console App) which is a consumer for Kafka hosted in Azure.

What I have provided to use is:
1. truststore cert (jks file)
2. keystore cert (jks file)
3. password truststore
4. password keystore
5. password private key

[2021-11-30 22:50] fabiocav commented on #266
Transferring to the Kafka repo for investigation and triage.

[2021-12-06 19:26] PilotC150 opened #269 "Stack Overflow when deserializing Avro"
I'm working on consuming a Kafka feed with messages in the Avro format.  I built a sample console application using Confulent Kafka library and can successfully connect to the broker, receive messages and deserialize them.  Now I'm trying to migrate the same code to a Kafka triggered function.

I'm using the same model classes and the same connection configuration.  I've tried two ways to configur

[2021-12-07 13:49] MichalLechowski commented on #183
I am having similar problem. Nothing good comes out from Retry Policy, it's just counting on a successful processing on a 2nd or 3th try. If it doesn't happen, we still have no way to suppress committing offset and we lose a message.

I've investigated a bit and it seems like the only way for now to make use of such feature is to use Confluent.Kafka package directly and setup Consumer manually.

W

[2021-12-20 17:34] TsuyoshiUshio commented on #266
Hi @Rimast
From this version, we are support header.  https://github.com/Azure/azure-functions-kafka-extension/releases/tag/3.3.1-PRE2  KafkaEventData contains headers. Could you try it?
https://github.com/Azure/azure-functions-kafka-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Kafka/IKafkaEventData.cs#L16

[2022-01-06 22:41] Abaineh commented on #259
Any one has luck with this challenge yet?

[2022-01-19 05:34] VinodBharti3611 opened #272 "What can be the possible workaround for recovering lost messages?"
As manual commit option is not available, What can be done for the messages which are failed while processing? Retry policy is available but after retrying also if it's get failed. Is there any workaround to recover that message?
And other query is, do we have any kind of configuration that can help us to avoid committing message in case of failure? So that it will keep processing same message unt

[2022-01-21 10:45] ivanthelad opened #273 "Extension will commit offset despite throwing exception from function"
My expectation is when the function processing a kafka messages or batch of kafka messages fails, then throwing a exception from the Function should result in the offset of the messages not been commited.  What I am seeing is message offsets get commited despite exceptions been thrown from the function. This results in dataloss
 - Is my expectation correct here, should the offset be commited in th

[2022-01-21 12:58] amitplooto commented on #273
@ivanthelad I fully agree with you, exceptions in Kafka Trigger should not result in offsets to be committed. I am not sure what's the recommendations are when it comes to handle that scenario.

[2022-01-22 08:54] shrohilla commented on #273
@ivanthelad if exception is being raised in function code in that case it should be handled by developer who is writing it's functions code, if the crash is in extension or functions that should be handled by functions.

[2022-01-24 08:55] ivanthelad commented on #273
Agree. what about the situation where a downsteam service from the function is unexpectedly causing issue (perhaps a transient network issue or something like credentials rotated  ). My expectation would be to throw an exception out of function and rely on the function platform not committing the offset.

[2022-01-24 10:39] shrohilla commented on #273
Network issue -- Group Coordinator in that case unable to reach throws the error in that case like Unknown Host.
regarding the credential rotations -- can you please explain more which scenario are you pointing to ??

[2022-01-24 12:26] ivanthelad commented on #273
@shrohilla  any scenario that results in an unhandled exception in the function. please ignore my 'example'. if function code does not handle the exception but instead throws it back to the function runtime. what is the expected behavior of the kafka extension in this case. It does not know if the event has been processed or not. Should it commit the offset here?

[2022-01-25 13:59] ivanthelad commented on #273
@shrohilla  this can be close. this works as designed. this extension is modeled off the eventhub extension which documents that the offset will be commited despite errors occuring in the function.
this should be documented more clearly in the kafka extension
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reliable-event-processing#handling-exceptions

[2022-01-25 14:18] shrohilla commented on #273
@ivanthelad thanks for the response, closing this thread

[2022-01-25 14:18] #273 closed

[2022-01-25 20:52] bm77525-kr commented on #266
https://github.com/Azure/azure-functions-kafka-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Kafka/IKafkaEventData.cs#L16

Hi @TsuyoshiUshio, the problem is the function bindings don't expose the headers. So our node-based function app, for example, still can't access the headers via the binding data. In my fork, I added this by modifying KafkaTriggerBindingStrategy: https://github.com

[2022-01-27 12:52] valentynbulakh opened #307 "Fix or update Apache.Avro nuget packages"
Hi
We are using azure-functions to build docker image,
After build we do Aqua Scanner to check Vulnerabilities.
The latest image 4.1.3 hat 4  Vulnerabilities related to Apache.Avro.
https://nvd.nist.gov/vuln/detail/CVE-2021-43045

This issue if fixed in Apache.Avro version 1.11.0.
In azure-functions image version is 1.10.2.

Can you update image to use latest Apache.Avro version or how we can do t

[2022-01-28 06:22] shrohilla commented on #266
Hi @bm77525-kr could you please share more details is this solutions helped you in receiving the headers data in you Node application ??
In C# application I created using Visual Studio and was able to access headers without making any change in extension code, could you please elaborate this in more details ?

[2022-01-28 06:35] bm77525-kr commented on #266
@shrohilla I am using the javascript/node function trigger binding. You can use the javascript sample from this repo to demonstrate. When the function is triggered, neither the [context or event ](https://github.com/Azure/azure-functions-kafka-extension/blob/dev/samples/javascript/UsersTrigger/index.js#L3)contain the headers because the extension doesn't seem to have added the trigger binding to i

[2022-01-29 03:43] shrohilla commented on #266
@bm77525-kr we are looking into this for node and will update you on this thread soon

cc @lpapudippu

[2022-01-29 17:49] simonrivas opened #274 "KafkaTrigger not working on more than 1 topic in a function app"
Hello,
I have a function app with 2 different functions, each of which with a KafkaTrigger listening to a dedicated topic, so :
- **functionA** listens to **topic-a**
- **functionB** listens to **topic-b**

NOTE : in place of a "real" Kafka cluster, I use an **Event Hubs Premium namespace** with Kafka surface enabled, so my topics are actually hubs. Each hub has 2 partitions.

In this scenario, on

[2022-01-30 16:40] simonrivas commented on #274
Update : **the problem seems to be on the Event Hub side**
What I have done is :
- Split my function app in 2 : each one now has its dedicated topic / hub -> Same problem.
- Create a dedicated App Service Plan for each function app -> Same problem.
- Create consumer groups with **different names** on each hub -> Finally **WORKS!**

Can anyone please confirm my diagnosis before I close this tocket

[2022-02-07 08:23] darren-clark commented on #274
Came here to see if this was here.

In my case I had:
1 Event hub namespace
2 Event hub topics
Same consumer group name in both topics.
2 KafkaTrigger functions, one on each topic, using same consumer group name.

Reliably only one trigger would get partitions assigned.

Changing to use different consumer group names, still with same event hub namespace works.

[2022-02-07 19:21] a99cl208 opened #280 "Allow retrieving custom certificates from certificate store"
Hello,

For now in order to use a custom CA certificate, it needs to be referenced using SslCaLocation in the KafkaTrigger, and the certificate needs to be deployed along with the function. In order to better split infrastructure topics from applicative topics, and also to make easier to manage multi environments deployment, I would be great to find a way to retrive the certificates from the App S

[2022-02-10 16:49] tech7857 opened #283 "End of partition flag always coming false"
Hi @TsuyoshiUshio

we are trying to read the End of partition flag but it is always coming as false. Can you please check and confirm if this is a bug or we are missing some setting

consumeResult.IsPartitionEOF

please let me know if any other info is required.

thanks

[2022-02-10 17:40] tech7857 commented on #283
I guess i figured it out closing

[2022-02-10 17:40] #283 closed

[2022-02-24 20:22] smitty-codes commented on #207
@TsuyoshiUshio What is the status on this item? I read thru the PR and it looks like it was decided this would be an attribute we can set on the function which is fine. I upgraded to 3.3.2 but didn't see this is available yet and not seeing it listed in 3.3.3 pre-release.

This is a pretty important item for us - it will really cut down on Confluent Cloud costs based on the volume of data we're an

[2022-03-03 17:25] shanavt opened #295 "Offset updates even when the function cannot process the messages after receiving"
Scenario- If I receive 100 messages in a batch using the trigger, and if there is an error that happened after I receive the message (e.g.: one of the external services is down), I want to process those 1000 messages again when the trigger executes next time (Assuming the external service is back). It seems the Offset pointer will progress even if you throw the exception.

There is a way to handle

[2022-03-04 08:52] shrohilla commented on #295
This functionality is by design and expectation is that needed to be handled from the client side code.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reliable-event-processing#handling-exceptions

[2022-03-04 10:04] lpapudippu commented on #207
@shrohilla Can you please take a look at it ? cc: @raorugan

[2022-03-14 09:11] lpapudippu commented on #269
@PilotC150 Can you please share the sample function app for us to debug the issue ?

[2022-03-15 12:22] ivanthelad opened #300 "improve Kafka Output binding throughput as Async blocking on each output message. Move to a await whenAll()"
When using outputing with a batch/list of events, The current throughput using the kafka output binding maxs out at around 500 events per minute.  this because the implementation blocks on each message sent to the underlying c++ librkafka library using an await on each individual messages. As the librkafka is already by default batching messages this in my opinion is the incorrect usage of the lib

[2022-03-15 15:38] ivanthelad commented on #261
this changes should take the following scenarios into account

•	Take into account kafka events that already have a "traceparent" set in the message header.
•	Take into end to end tracing when the outputbinding is used.  (ideally this would result in end to end tracing similar the java agent generates )  output binding.
•	Today, the application maps visualizes  a kafka event as a simple request. i

[2022-03-21 17:58] rohitsgupta commented on #249
We are doing a POC for the client and are in process of evaluating the options to consume Kafka stream. Azure Functions Kafka trigger is very promising but any new function will register itself as new consumer and hence we were seeing lot of historical data. If we can get AutoOffsetReset exposed as a property, we can set it to Latest to get around the issue. Also, is there a general guidance aroun

[2022-03-23 05:51] justinbarias commented on #219
just adding some info here - as I'm experiencing the same issue.

M1 Mac isnt supported natively by both librdkafka and confluent.kafka
https://github.com/confluentinc/confluent-kafka-dotnet/issues/1707
https://github.com/edenhill/librdkafka/issues/3546

[2022-03-24 08:45] nachoge opened #305 "kafka triggers repeating messages"
Hi, We've been using the kafka extension (Java SDK) for more than a year without any issue.

A few days ago one of our triggers started to repeat message processing, so we are duplicating data.
We've check the message it's been produced just once on kafka an that the offset, partition and timestamp is the same for the received messages. So seems a
single message is processed multiples times. This

[2022-03-26 17:52] pragnagopa commented on #307
@shrohilla / @lpapudippu - Please take a look - would be great if  you can prioritize upgrading to latest packages and update extension bundles as well. Thanks!

[2022-03-30 09:17] valentynbulakh commented on #307
Hi @shrohilla, @lpapudippu
do you have an ETA when it can be completed?

[2022-03-31 07:59] raorugan commented on #164
Appreciate your feedback on this! We are investigating on this capability. Any inputs on **size of Avro records** expected? This will  help us plan accordingly

[2022-04-06 03:28] vkhose opened #310 "Support for certificate and key in pem string format instead of location to the file"
Conlfuent.kafka and librdkafka supports authentication certificate in pem string format using "ssl.certificate.pem" and "ssl.key.pem" attributes. You do not have to maintain certificate as file within application or certificate store with this support. This extension does not supports these methods of specifying certificate.
It would be great if we can add this support to the extensions.
https://g

[2022-04-08 18:02] bbejeck opened #312 "Add Support to Trigger and Output Bindings for Schema Registry"
Since the function extension already supports Avro and Protobuf (de)serialization, it would be helpful to expose the following as optional configs for the `KafkaTrigger` and `Kafka` attributes.

- `schema.registry.basic.auth.credentials.source`
-  `schema.registry.basic.auth.user.info`
-  `schema.registry.url`

Right now, to use Schema Registry (on Confluent Cloud, for example), the workaround is

[2022-04-08 21:46] Yagudagu opened #313 "Is Kafka trigger supported on dedicated plans?"
Hi, just trying to confirm whether or not this Kafka trigger is supported or not on a dedicated plan? Thanks

[2022-04-14 20:52] swimhiking opened #319 "Librakafka lib not found error in ubuntu 20.04"
Hi there,

just question about durable function error, we have a kafka trigger durable function created using TypeScript, it running good in local test (my local OS is windows), once deployed to server, I got error "Librdkafka initialization: running in non-Windows OS, expecting librdkafka to be there, Librdkafka initialization: could not find dll location". And we follow the document added ENV LD

[2022-04-18 17:01] vlkuznet commented on #313
This should work properly, but with the normal caveat of dedicated plans - Azure Functions doesn't handle the scaling for you on Dedicated plans.

[2022-04-18 17:09] shrohilla commented on #319
Can you please view the samples present in the repository for this e.g. -- https://github.com/Azure/azure-functions-kafka-extension/blob/dev/samples/javascript/.devcontainer/devcontainer.json

[2022-04-19 03:25] Irate-Walrus opened #321 "KafkaTrigger fails to load SslCertificateLocation and SslKeyLocation"
- On initialization of `KafkaTrigger` in Azure Premium Function, client public certificate and client secret will fail to load unless reference by absolute path within the trigger configuration.
- I can confirm that all files are present in the same directory as `server_ca.crt`. It appears that for some reason Libkafka is not given the full path to the `client.crt` or `client.pem` and hence fails

[2022-04-19 14:28] shrohilla commented on #321
Please share your configuration with functions.json & other related details

[2022-04-19 18:20] swimhiking commented on #319
thanks @shrohilla , we have 3 azure durable functions deployed, previous 2 services all working good, only this new service I got error; so I use the source code of 2 services, tried to build in my local, both got this error. Wondering the deployment need some premium license or something? Thanks

Allen

[2022-04-20 00:43] Irate-Walrus commented on #321
# function.json
[code]
# host.json
[code]
# Working function.json
[code]

[2022-04-20 16:19] shrohilla commented on #319
@swimhiking, Azure kafka extension currently supported for Premium plan on deployment.
However if you are trying this on your local system in docker you should provide the LD_LIBRARY_PATH environment variable https://github.com/Azure/azure-functions-kafka-extension/blob/9b1d14d267b4afe658eca7bde3f88262a2e895b1/samples/javascript/.devcontainer/devcontainer.json#L7

This issue is under progress, soo

[2022-04-20 16:42] shrohilla commented on #321
Can you share the details of below two points:-

1. Can you add the complete relative path of the sslCertificateLocation & sslCaLocation and retry
2. Can you check "Copy to Output Directory" configuration value, I am wondering if certificate is copied in bin directory

[2022-04-20 23:52] Irate-Walrus commented on #321
# Project Configuration for CopyToOutputDirectory
[code]
# wwwroot
![image](https://user-images.githubusercontent.com/71628949/164342623-095e5219-493d-4ec0-be45-f2196bdfd5f0.png)

[2022-04-20 23:54] swimhiking commented on #319
Yeah, we have this env variable setup; One month ago, we set up 2 durable function with kafka extension success; After I checked the log from Azure CICD; found 2 interesting things:

1. One month ago Ubuntu OS version is 20.04.3, now it's 20.04.4
2. Log shows some issue for Ubuntu 20.04.4:

(TERM is not set, so the dialog frontend is not usable.)
(Can't locate Term/ReadLine.pm in @INC (you may nee

[2022-04-21 00:09] Irate-Walrus commented on #321
Some paths I've tried:
**Path** | **Azure** | **Local Debug (self-explanatory)**
-- | -- | --
`"%HOME%\\site\\wwwroot\\server.crt"` |  ✔️ |  ❌
`"D:\\home\\site\\wwwroot\\server.crt"` | ✔️ | ❌
`".\\server_ca.crt"` | ❌ | ✔️
`"server_ca.crt"` | ❌| ✔️
- I might add I am using both a `Kafka Output Binding` and a `KafkaTrigger` in two different function in the same premium function app.
- The `Kafka Out

[2022-04-21 04:36] shrohilla commented on #319
You are packaging your code in docker image, I don't think the CICD is linked with your packaging

[2022-04-21 04:38] shrohilla commented on #321
Thanks alot for the quick response.
Can you help in distinguishing the trigger/output binding case in above table

[2022-04-21 05:14] swimhiking commented on #319
right, we put the Ubuntu version 20.04; and one month ago, it's pull the 20.04.3, now it's pull from 20.04.4, and in docker file, only can specify major version, not minor version; this could be one reason that result the issue. Thanks for clear the concept for me.

Allen

[2022-04-22 20:15] swimhiking commented on #319
this issue is resolved by adding step to install the missing library in Dockerfile; @shrohilla we can close this ticket. thanks

[2022-04-23 04:35] shrohilla commented on #319
As per the comment & discussion closing the ticket.
Thanks alot @swimhiking for the proactive response

[2022-04-23 04:35] #319 closed

[2022-04-25 07:40] shrohilla commented on #313
As @vlkuznet has answered this, we can close this issue.
In-case we have something we will reopen this.

[2022-04-25 07:40] #313 closed

[2022-04-27 14:34] MichalLechowski commented on #295
Deadletter the problematic events and handle them later, somewhere else, by something else, another time. That's the way. Manual tracking and commiting offset is not recommended for Kafka.

[2022-04-27 23:49] Irate-Walrus commented on #321
Hi @MichalLechowski,
Thank you for the information. I do believe the issue is platform dependent as the filename works correctly locally. The function is running `.NET 6` on a `Windows Premium Function`. Deployment is done via a local build and upload as a package.

[2022-04-28 09:32] MichalLechowski commented on #321
Okay.

Can you:
1. Share your function code, the method with Input Kafka trigger? You can skip the body, just the whole declaration with attributes and such. If you have some passwords there, obviously remove them.
2. Can you go to your Azure function then go to Advanced Tools then click Ok to open Kudu and then you have access to your function file system and check if actually the cert file is wh

[2022-04-28 13:40] szklany opened #326 "Key is always None in Python binding"
When consuming a Kafka event in Python using the Azure Function Binding the event key is always none.

I've tested the this outside of the Azure Function, using the Python Apache Kafka package, and the key is always present, so it does not seem to be a problem with our Confluent Kafka setup.

![image](https://user-images.githubusercontent.com/1759092/165764368-1715a7ce-73b9-49db-84c8-cc583b2eecff.

[2022-04-29 00:44] Irate-Walrus commented on #321
@MichalLechowski ,

[2022-04-29 16:04] shrohilla commented on #326
This seems to be like a bug, we will look into this.

[2022-05-02 17:54] paulbatum commented on #122
Retry policies now require each trigger to opt-in (because many triggers already have built-in retries) so there is still some work to do here for the Kafka extension to add retry support.

[2022-05-04 11:07] MichalLechowski commented on #321
Okay, I've setup a basic azf (.net 6 isolated) with kafka trigger and deployed to Azure Function App running on Windows.
It looks like the problem is that you think that execution context is the same directory as dlls of your built project (basically wwwroot in this case) but it's probably not and you always need to set it up with a proper path, that's why "%HOME%\\site\\wwwroot\\server.crt" works

[2022-05-05 05:11] Irate-Walrus commented on #321
Thanks for the sanity check, it's good to hear you've experienced the same issue.

Just regarding this, I thought the package already did in the [`AzureFunctionsFileHelper`](https://github.com/Azure/azure-functions-kafka-extension/blob/ba604e6f14871e891f3861d3f0a0d9bcc838f7ce/src/Microsoft.Azure.WebJobs.Extensions.Kafka/Config/AzureFunctionsFileHelper.cs#L172-L204). [`AzureFunctionsFileHelper`](ht

[2022-05-05 06:26] shrohilla commented on #321
This seems a bug, we will look into this

[2022-05-09 14:00] MichalLechowski commented on #321
That's weird, indeed. One thing you can check is what happens (just as an experiment) when you set it up manually instead of using an attribute. Configured manually and triggered with TimeTrigger, for instance, based on e.g. this:
https://github.com/Azure/azure-functions-kafka-extension/blob/dev/samples/dotnet/ConsoleConsumer/Program.cs

I have been wondering if that might have anything to do with

[2022-05-09 14:23] justinmchase opened #332 "Adding a KafkaTrigger function crashes at startup with Value cannot be null. (Parameter 'provider') error"
I added this one single, specific reference:
[code]

I'm able to add this one function to recieve the error, and comment it out to have it go away:
[code]

Here is the actual error:

[2022-05-09 18:51] justinmchase commented on #332
The sample in this project has the same error:

![Screen Shot 2022-05-09 at 1 50 07 PM](https://user-images.githubusercontent.com/10974/167477372-73641900-ae7e-47e2-8539-cd5423c5b41d.png)

I just downloaded the source for this repo (`dev` branch), copied the `samples/dotnet-isolated` folder then ran this:

[code]

And it crashes with `Value cannot be null. (Parameter 'provider')`

[2022-05-09 18:52] justinmchase commented on #332
I get the same error running it on osx and also inside of linux-x64 docker.

[2022-05-09 19:27] justinmchase commented on #332
It seems like the version associated with the sample is `3.3.3`, which is now 20 days old but still hasn't been updated to NuGet. When will that latest patch fix version be released to NuGet?

[2022-05-10 06:54] shrohilla commented on #332
@justinmchase thanks for raising the issue but it seems duplicate of https://github.com/Azure/azure-functions-dotnet-worker/issues/87
So closing this issue for now, we will re-open this if need some attention from kafka extension

[2022-05-10 06:54] #332 closed

[2022-05-10 16:47] justinmchase commented on #332
Turns out it was the `LD_LIBRARY_PATH` bug. Adding the below fixed it for me:

[code]

[2022-05-10 17:32] justinmchase opened #335 "Can you include a same for dotnet-isolated, which includes works for both localhost via docker and also eventHubs?"
In the current samples:
https://github.com/Azure/azure-functions-kafka-extension/tree/dev/samples/dotnet-isolated

You have a lot of settings hard coded right into the various trigger attributes.

But I need to support multiple environments, local and running in azure where I have to use environment variables to change the configuration. Its not clear here how the hard coded attribute settings are

[2022-05-10 17:49] shrohilla commented on #335
@justinmchase, please view the localsettings.json.example and map that with the kafkatrigger annotation of dotnet isolated you will be able to figure out your solution.
The localsettings.json entries can be environment variables, you don't require that also.

Regarding localbroker we don't recommend that in Production but if you still wants to try please check this link -- https://github.com/Azure

[2022-05-10 18:40] justinmchase opened #336 "Getting error `Confluent.Kafka: Broker: Unknown topic or partition.` when the topic doesn't yet exist."
Ideally there would be a setting on the trigger to enable auto creation of the topic

[code]

* Related To https://github.com/confluentinc/confluent-kafka-dotnet/issues/1366

[2022-05-11 03:43] justinmchase commented on #335
I think you need to go through the process of actually doing it, because I'm not sure you're aware of some of the pain points here. Like, in that same you linked to, there is one function commented out and the other is not... that's not how it works in the real world. You need to have _one function_ that can work both locally and in azure with only environment variables differentiating it... and i

[2022-05-11 04:02] justinmchase opened #348 "For the KafkaTrigger, how can I configure the protocol to be Ssl if I have certs but NotSet if I don't?"

[2022-05-18 18:33] fabiocav commented on #348
@justinmchase transferring this to the Kafka extension repo as folks here will be able to triage this and provide guidance/take action. Thanks!

[2022-05-25 12:19] ivanthelad commented on #300
any feedback on this issue

[2022-06-02 11:18] gusknure commented on #307
@shrohilla, @lpapudippu, @pragnagopa
possible fix in near future?

[2022-06-02 16:37] shrohilla commented on #307
we will pick this issue soon

[2022-06-08 08:14] #266 closed

[2022-06-10 09:49] microsoft-github-policy-service[bot] opened #351 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-06-22 18:12] #226 closed

[2022-06-22 18:14] smitty-codes commented on #207
Any update on this issue?

[2022-06-27 11:13] milos-miric opened #358 "Output binding not allowing SslCaLocation property value to be injected from a settings file"
Hi all,

My team and I have encountered an issue when trying to use a setting placeholder for the certificate location when configuring the output binding like so:

![image](https://user-images.githubusercontent.com/97109557/175927466-ace9b53b-00f5-4635-9203-5bef583aa6e8.png)

And this is the error we receive when attempting to produce the message:

![image](https://user-images.githubusercontent.c

[2022-06-29 15:06] shrohilla commented on #358
@milos-miric thanks for raising the issue, could you please this without % and entering the path in host.json ?

[2022-06-30 10:43] milos-miric commented on #358
Thanks for responding @shrohilla , sadly removing the '%' prints the same error, same with entering the path to local.settings.json

[2022-07-08 11:28] shrohilla commented on #307
@all....we tried to fixed this for Apache Avro & Protobuf but unfortunately we hit with the performance badly.
We are currently working on that and will take next steps based on that.

[2022-07-08 12:13] gusknure commented on #307
Hope it will be fixed soon, we have a lot of vulnerabilities issues based on this errors.

[2022-07-14 06:48] christophwille opened #365 "[QUERY] Retry failed Kafka messages - changes coming?"
This question is prompted by https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages, quote:

The question is if that has implications for the KafkaTrigger - does the KafkaTrigger have/keep/adapt its existing functionality in terms of retries? If it doesn't, what would be the new way of dealing with retries? (best practices of the new way)

Note: I saw #122 but that s

[2022-07-19 20:53] nicholas-ebert opened #395 "$return not working for python kafka binding"
I'd like to be able to return the result of my kafka event processor and avoid using `func.Out` if possible. I have a `function.json` which is setup like this:

[code]

And my code looks like this:
[code]

Note the `"name": "$return",` in the kafka output binding. Running this with `func start --python`, I get these errors:

[code]

After some investigation, it seems this happens because `KafkaCon

[2022-07-20 08:11] shrohilla commented on #365
@christophwille so currently in Kafka we don't supports the retry but we are currently working on this feature to support our customers in the future.
Regarding the removal it will not be true for kafka extension after this is supported.

cc @raorugan @lpapudippu

[2022-07-28 12:40] #351 closed

[2022-08-03 12:24] gusknure commented on #307
Hi @mthalman, @pragnagopa, @soninaren, @lpapudippu, @shrohilla
new images have few more new vulnerabilities
![image](https://user-images.githubusercontent.com/41233625/182606191-bc707323-f9a9-478a-8f7a-c646ba7d2ff1.png)

[2022-08-03 16:53] shrohilla commented on #365
As there is no furthur communication on this issue so closing this

[2022-08-03 16:53] #365 closed

[2022-08-07 06:05] BoutemineOualid opened #380 "Need a way to set SubscriberIntervalInSeconds in millseconds and a config parameter for fetch.max.wait.ms"
Hi,

We have very strict SLA requirements with respect to the throughput & latency of our system and it seems like in some edge cases when the load is very low on the system, the function does not get triggered frequently enough to meet the minimum end-to-end transaction times. This is mainly attributed to the fact that we are using a large batch size to handle our normal use case but this becomes

[2022-08-08 06:42] shrohilla commented on #122
This is supported in 3.5.0 release

[2022-08-08 06:42] #122 closed

[2022-08-11 09:47] gliljas commented on #336
That can already be achieved with a broker setting

[2022-08-11 09:48] gliljas opened #382 "Most properties on KafkaAttribute can not be used"
#362

[2022-08-11 11:11] Sossenbinder opened #383 "Provide a EnableSslCertificateVerification attribute parameter for KafkaTrigger"
Compared to the Confluent Kafka library, the azure functions version currently does not provide a EnableSslCertificateVerification setting.

Of course, people should not exactly be encouraged to disable this security mechanism, but in some cases it is very useful to test something without the hassle of SSL setup.

Would it be possible to also provide a way to ignore SSL in this lib?

[2022-08-11 14:17] raorugan commented on #300
8K in and 8K out throughput is ideal

[2022-08-16 08:00] krishna-kariya commented on #383
/azp run

[2022-08-24 09:38] vickithedeveloper opened #384 "Azure functions deployed in AKS cluster reading old messages from the Azure event hub."
Please find below the summary of the issue -
      What we are observing is that function app deployment in AKS with KAFKA based KEDA scaler is repeatedly reading the old events causing duplicates in processing.  In some cases even when there is not input data, it continues to read and process old data. This leads to huge backlog over the time.
In some of the experiments that we conducted , it was

[2022-08-24 11:27] veastark opened #385 "Header and Key for Typescript Kafka output binding"
Hello,

I tried adding a key and header and writing the message to the Kafka output binding but it's not handled like a key and header, just as part of the Kafka message.

Code:

[code]

This is the full message as it arrived at my Confluent Cloud Kafka Server, Headers and Key of this message are empty or null
`{
  "Headers": [
    "Key": "testHeader",
    "Value": "test1"
    ]
  },
  "Key": {

[2022-08-30 09:18] undrivendev opened #387 "Avro deserialization using dotnet out-of-process execution model"
Hi,
when using the [out-of-process execution model](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) we are referencing the [Microsoft.Azure.Functions.Worker.Extensions.Kafka](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Kafka) NuGet package, as outlined by this [sample project file](https://github.com/Azure/azure-functions-kafka-e